@model ProviderDetailsViewModel
@using DVSAdmin.Extensions;
@{
    ViewData["Title"] = "Provider Details";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "RegisterManagement", "RegisterManagement", null, new { @class = "govuk-back-link" })  
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">@Model.Provider.TradingName</h1>

                @await Html.PartialAsync("~/Views/RegisterManagement/PartialViews/_PublicationStatusTableView.cshtml",Model.Provider)
                @await Html.PartialAsync("~/Views/RegisterManagement/PartialViews/_ProviderContactView.cshtml", Model.Provider)
               
               @foreach(var item in Model.Provider.CertificateInformation)
                {
                       
                        <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                    Service @item.ServiceNumber
                            </h2>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="service-details?serviceId=@item.Id&serviceNumber=@item.ServiceNumber">View service details <span class="govuk-visually-hidden"> of @Model.Provider.TradingName service @item.ServiceName</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Service name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @item.ServiceName
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Publication status
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @HtmlExtensions.ToStyledStrongTag(@item.CertificateInfoStatus)                                       
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                }              

                <div class="govuk-button-group">                  
                    <a href="publish-service?providerId=@Model.Provider.Id&isReview=false" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Publish provider
                    </a>

                </div>
            </div>
        </div>
    </main> 
</div>

