@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models;
@model ProviderProfileDto;
@{
    ViewData["Title"] = "You are publishing the following service provider on the register";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderDetails", "RegisterManagement", new { @providerId = @Model.Id }, new { @class = "govuk-back-link" })                   
   
        <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">You are publishing the following services on the register</h1>
                <p class="govuk-body">Please review the information you are about to publish below.</p>
          
                <h2 class="govuk-heading-m">Basic information</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Public contact email
                        </dt>
                        <dd class="govuk-summary-list__value">
                           @Model.PublicContactEmail
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Telephone number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ProviderTelephoneNumber
                            @(!string.IsNullOrEmpty(Model.ProviderTelephoneNumber) ? Model.ProviderTelephoneNumber : "N/A")
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ProviderWebsiteAddress
                        </dd>
                    </div>
                </dl>

                @foreach(var item in Model.Services)
                {
                    <h2 class="govuk-heading-m">Service details: @item.ServiceName</h2>
                    @await Html.PartialAsync("~/Views/PartialViews/_ServiceDetailsView.cshtml", item)                  

                    if (item.HasPreviousPublishedVersion)
                    {
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                If you proceed with publication, any information currently published on the register for this service will be replaced by the details shown above
                            </strong>
                        </div>
                    }

                }

                <div class="govuk-button-group">
                    <a href="proceed-publication?providerId=@Model.Id" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Proceed with publication
                    </a>

                    <a href="publish-service?providerId=@Model.Id" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </a>
                </div>             
            </div>
        </div>
    </main>
  
</div>

