@model DVSAdmin.Models.RegManagement.ProviderListViewModel;
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions
@{
    ViewData["Title"] = "Register Management";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                @Html.ActionLink("Home", "LandingPage", "DigitalIdentity", null, new { @class = "govuk-breadcrumbs__link" })
            </li>
            <li class="govuk-breadcrumbs__list-item">
                @Html.ActionLink("Register management", "RegisterManagement", "RegisterManagement", null, new { @class = "govuk-breadcrumbs__link" })
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-5">
                <h1 class="govuk-heading-xl">Register management</h1>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service provider</th>
                            <th scope="col" class="govuk-table__header">Publication status</th>
                            <th scope="col" class="govuk-table__header">Date and time of provider agreement to publish (UTC)</th>
                            <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                            <th scope="col" class="govuk-table__header">Services</th>
                        </tr>
                    </thead>


                    <tbody class="govuk-table__body">
                        @if (Model.AllStatusesList != null)
                        {
                            @foreach (var item in Model.AllStatusesList)
                            {
                                @if (item.Services != null && item.Services.Count() > 0)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell"> @Html.ActionLink(@item.RegisteredName, "ProviderDetails", "RegisterManagement", new { @providerId = item.Id }, new { @class = "govuk-link" })</td>
                                        <td class="govuk-table__cell"> @HtmlExtensions.ToStyledStrongTag(@item.ProviderStatus) </td>
                                        <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(@item.PublishedTime)</td>
                                        <td class="govuk-table__cell">@item.CabUser.Cab.CabName</td>
                                        <td class="govuk-table__cell">
                                            @foreach (var item1 in item.Services)
                                            {
                                                <div class="govuk-!-margin-bottom-1">
                                                    @item1.ServiceName
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

