@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models
@model DVSAdmin.Models.RegManagement.ServiceVersionViewModel
@{
    ViewData["Title"] = "Service details";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderDetails", "RegisterManagement", new { @providerId = Model.CurrentServiceVersion.ProviderProfileId}, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Service details: @Model.CurrentServiceVersion.ServiceName </h1>
                @if (Model.CanResendRemovalRequest)
                {
                    <p class="govuk-body">You can resend an email to the named contacts at the provider, to confirm <br> they agree to the service details being removed. Once they confirm, the <br /> details will be automatically removed from the register.</p>
                    @using (Html.BeginForm("ResendRemovalRequest", "RemoveProvider", FormMethod.Post))
                    {
                        @Html.Hidden("serviceId", Model.CurrentServiceVersion.Id)
                        <div class="govuk-button-group govuk-!-margin-top-5 govuk-!-margin-bottom-5">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Resend request email
                            </button>
                        </div>
                    }
                }
                else if (Model.CanResendUpdateRequest)
                {
                    @using (Html.BeginForm("ResendServiceUpdateRequest", "EditService", FormMethod.Post))
                    {
                    @Html.Hidden("serviceDraftId", Model.CurrentServiceVersion.ServiceDraft.Id)

                    <p class="govuk-body">
                        You can resend an email request for OfDIA users to approve the changes you
                        have requested to this information
                    </p>
                        <button type="submit" class="govuk-button" data-module="govuk-button">Resend edit request email</button>
                    }
                }

               
                
                <div class="govuk-tabs" data-module="govuk-tabs">
                        <div class="govuk-!-padding-bottom-6"></div>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#latest-submission">
                                Latest submission
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#previously-submitted">
                                Previously submitted
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel govuk-!-padding-0" id="latest-submission">
                        @await Html.PartialAsync("~/Views/RegisterManagement/PartialViews/_ServiceDetailsView.cshtml", Model.CurrentServiceVersion)
                        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9 govuk-!-padding-0">
                            <h2 class="govuk-heading-m">Provided certificate of conformity</h2>
                            <p class="govuk-body-l govuk-!-margin-bottom-2">
                                @Model.CurrentServiceVersion.FileName
                            </p>
                            <p class="govuk-body govuk-!-margin-bottom-2">
                                <span class="govuk-hint">
                                    PDF, @Model.CurrentServiceVersion.FileSizeInKb KB, 1 page
                                </span>
                            </p>
                            <p class="govuk-body">
                                <span class="govuk-hint">
                                    This file may not be suitable for users of assistive technology.
                                </span>
                            </p>

                            <a href="/register-management/download-certificate?key=@Model.CurrentServiceVersion.FileLink&filename=@Model.CurrentServiceVersion.FileName" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" target="_blank">
                                Download certificate of conformity 
                            </a>
                        </div>
                    </div>
                        
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden govuk-!-padding-0" id="previously-submitted">
                        @if (Model.ServiceHistoryVersions.Count() < 1)
                        {
                            <p class="govuk-body govuk-!-padding-7">You don't have any previous submissions for this service</p>
                        }
                        else
                        {
                            @foreach (var serviceDto in Model.ServiceHistoryVersions)
                            {
                                ViewBag.IsPrevious = true;
                                @await Html.PartialAsync("~/Views/RegisterManagement/PartialViews/_ServiceDetailsView.cshtml", serviceDto)
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        
    </main>
</div>

