@model DVSAdmin.Models.ConfirmPasswordViewModel
@{
    ViewData["Title"] = "Confirmation Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ConfirmPasswordCheck", "Login", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PasswordReset)
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Confirm your email</h1>

                    <p class="govuk-body">A code has been sent to: @ViewBag.Email</p>


                    <p class="govuk-body"> It might take a few minutes to arrive. The code will expire after 30 minutes.</p>
                    @Html.ValidationMessageFor(m => m.OneTimePassword, "", new { @class = "govuk-error-message" })
                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="onetimepassword">
                                Enter the code to verify your email address.
                            </label>
                        </h1>
                        <div id="event-name-hint" class="govuk-hint">
                            For example, 123456
                        </div>                       
                        @Html.TextBoxFor(m => m.OneTimePassword, new { @class = "govuk-input", id = "onetimepassword", name = "one-time-password" })
                    </div>

                    <p class="govuk-body">Your password needs to be 10 or more characters. To help you create a long and strong password, the National Cyber Security Centre recommends using three random words.</p>

                    <p class="govuk-body">You can use a mix of letters, numbers or symbols in these three words.</p>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "govuk-error-message" })
                    <div class="govuk-form-group govuk-password-input @(Html.ViewData.ModelState.ContainsKey("Password") && Html.ViewData.ModelState["Password"].Errors.Count > 0 ? "govuk-form-group--error" :"" )" data-module="govuk-password-input">
                        <label class="govuk-label" for="password-input">
                            Password
                        </label>
                    
                        <div class="govuk-input__wrapper govuk-password-input__wrapper">                           
                            @Html.TextBoxFor(m => m.Password, new { @class = "govuk-input govuk-input--width-20", id = "password", name = "password", type = "password" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "govuk-error-message" })
                    <div class="govuk-form-group govuk-password-input @(Html.ViewData.ModelState.ContainsKey("ConfirmPassword") && Html.ViewData.ModelState["ConfirmPassword"].Errors.Count > 0 ? "govuk-form-group--error" :"" )" data-module="govuk-password-input">
                        <label class="govuk-label" for="password-input">
                            Confirm Password
                        </label>
                        <div class="govuk-input__wrapper govuk-password-input__wrapper">                          
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "govuk-input govuk-input--width-20", id = "confirmpassword", name = "confirm-password", type = "password" })
                        </div>
                    </div>

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Confirm
                    </button>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                I have not received the code
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">We have sent an email to the address you used to set up your account. This email will have the subject line: “Confirm your email address - OfDIA Review Portal”</p>
                            <p class="govuk-body">Check your spam or junk folder. If the email is not there, you can <a class="govuk-link" href="~/">restart the process</a> to request a new code or provide an alternative email address.</p>
                        </div>
                    </details>
                </div>
            </div>
        </main>
    </div>
}

