@model DVSAdmin.Models.MFARegistrationViewModel
@{
    ViewData["Title"] = "Configure your authenticator app and sign in to your account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string qrCodeImageBase64 = DVSAdmin.CommonUtility.Helper.GenerateQRCode(Model.SecretToken, Model.Email);
}

@using (Html.BeginForm("MFAConfirmationCheck", "Login", FormMethod.Post))
{
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }

                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Configure your authenticator app and sign in to your account</h1>

                    <h2 class="govuk-heading-m">1. Open Okta Verify</h2>

                    <p class="govuk-body"> Ensure that the Okta Verify app is installed and open it on your device.</p>

                    <h2 class="govuk-heading-m">2. Set up Okta Verify for this service</h2>

                    <p class="govuk-body"> Follow the instructions in the Okta Verify app to add a new account. When prompted, point your camera at the QR code below to add the Digital Identity Register Portal.</p>

                    <div>
                        <img src="data:image/png;base64, @qrCodeImageBase64" alt="QR Code for MFA Code" style="max-width: 200px; width: 30vw; height: auto; min-width: 100px;" />
                    </div>

                    <div class="govuk-inset-text">
                        Do not try to scan the QR code with a phone camera application. You will need to scan the QR code once you open your authenticator app.
                    </div>

                    <p class="govuk-body"> Alternatively, you can manually enter the following Secret Key to add the new account:  @Model.SecretToken</p>

                    <h2 class="govuk-heading-m">3. Enter the authentication code to sign in to create your account</h2>

                    <p class="govuk-body">Once you have successfully added the Digital Identity Register Portal, a six-digit code will appear in the authenticator app for this service which you should enter in the box below.</p>

                    <p class="govuk-body">
                        <b>Enter the one time multi-factor code shown in your authenticator app:</b>
                        <br />
                        <span id="mfa-hint" class="govuk-hint">
                            This is a six-digit passcode. For example, 123456
                        </span>

                    </p>

                    <div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey("MFACode") && Html.ViewData.ModelState["MFACode"].Errors.Count > 0 ? "govuk-form-group--error" : "")">
                        @Html.ValidationMessageFor(m => m.MFACode, "", new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(m => m.MFACode, new { @class = "govuk-input govuk-input--width-10", id = "mfacode", name = "mfa-code" })
                    </div>

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}
