@model MFARegistrationViewModel
@{
    ViewData["Title"] = "MFA Confirmation Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string qrCodeImageBase64 = DVSAdmin.CommonUtility.Helper.GenerateQRCode(Model.SecretToken, Model.Email);

}


@using (Html.BeginForm("MFAConfirmationCheck", "Login", FormMethod.Post))
{
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Multi-factor authentication required</h1>

                    <p class="govuk-body">To finish setting up your account, you need to use a multi-factor authenticator app. Below, you will find instructions on setting up the app so you can create your account.</p>

                    <h2 class="govuk-heading-l">1. Download your authenticator app</h2>

                    <p class="govuk-body">You can download an authenticator app on any smart device, such as a smart phone or tablet. Examples of authenticator apps are <a href="https://support.google.com/accounts/answer/1066447" class="govuk-link" rel="noreferrer noopener" target="_blank">Google Authenticator</a>, <a href="https://support.microsoft.com/en-gb/account-billing/set-up-an-authenticator-app-as-a-two-step-verification-method-2db39828-15e1-4614-b825-6e2b524e7c95" class="govuk-link" rel="noreferrer noopener" target="_blank">Microsoft Authenticator</a> and <a href="https://help.okta.com/eu/en-us/content/topics/end-user/ov-new-install-qr-ios.htm" class="govuk-link" rel="noreferrer noopener" target="_blank">Okta Verify</a></p>

                    <h2 class="govuk-heading-l">2. Use your authenticator app to register on the service</h2>

                    <p class="govuk-body">After installing your authenticator app on your device, open it and scan the QR code or manually enter the provided code. Your authenticator app will be set up for the service. A six-digit passcode will appear in the authenticator app which you can then enter when prompted. This code will expire after 30 seconds. You can now use your authenticator app to sign in to your account.</p>

                    <div>
                        <img src="data:image/png;base64, @qrCodeImageBase64" alt="QR Code for MFA Code" style="max-width: 200px; width: 30vw; height: auto; min-width: 100px;" />

                        <p class="govuk-body">Alternatively, you may use the following Secret Key for manual entry:</p>
                        <p class="govuk-body">@Model.SecretToken</p>
                    </div>

                    <p class="govuk-body">Enter the one time MFA code</p>
                    <div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey("MFACode") && Html.ViewData.ModelState["MFACode"].Errors.Count > 0 ? "govuk-form-group--error" :"" )">

                        @Html.ValidationMessageFor(m => m.MFACode, "", new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(m => m.MFACode, new { @class = "govuk-input", id = "mfacode", name = "mfa-code" })
                    </div>
                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Confirm
                    </button>
                </div>
            </div>
        </main>
    </div>
}