@model DVSAdmin.Models.SecondaryCheckViewModel;
@using Newtonsoft.Json
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "ConfirmIssueURN";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">

    @Html.ActionLink("Back", "SecondaryCheckReview", "SecondaryCheck", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        @using (Html.BeginForm("ProceedSecondaryCheckApproval", "SecondaryCheck", FormMethod.Post))
        {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Issue unique reference number
                </h1>
                <p class="govuk-body">
                    You are about to confirm that the following application has passed all required checks:
                </p>
                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                    @Html.HiddenFor(m => m.PreRegistrationId)                    
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header"> Unique Reference # </th>
                                <th scope="col" class="govuk-table__header">Digital Identity <br />and Attribute <br /> Service Provider</th>
                                <th scope="col" class="govuk-table__header">Time Submitted</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                                <th scope="col" class="govuk-table__header">Days left to <br />complete</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a href="#" class="govuk-link">@Model.PreRegistration.URN</a></td>
                                <td class="govuk-table__cell">@Model.PreRegistration.TradingName</td>
                                <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(Model.PreRegistration.CreatedDate)</td>
                                <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.PreRegistration.PreRegistrationReview.ApplicationReviewStatus)</td>
                                <td class="govuk-table__cell">@Model.PreRegistration.DaysLeftToComplete  days</td>
                            </tr>
                        </tbody>
                    </table>
            </div>

            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m">Who will receive the application decision notification</h2>
                <p class="govuk-body">
                    Once you approve the application, you are confirming that this application
                    has passed all required checks. The applicant will receive an email with their
                    unique reference number that will be valid for 60 days.
                </p>
                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Unique Reference
                            number

                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PreRegistration.URN
                        </dd>
                    </div>

                </dl>

                <h2 class="govuk-heading-m">Who will receive the application decision notification</h2>

                @if (Model.PreRegistration.IsApplicationSponsor)
                {
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of application sponsor

                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PreRegistration.Email
                            </dd>
                        </div>
                    </dl>
                }
                else
                {

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of application sponsor

                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PreRegistration.SponsorEmail
                            </dd>
                        </div>
                    </dl>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of additional contact

                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PreRegistration.Email
                            </dd>
                        </div>
                    </dl>
                }


                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button govuk-button" data-module="govuk-button" name="saveReview" value="approve">
                        Proceed with approval
                    </button>
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        }
    </main>
</div>

