@model DVSAdmin.Models.SecondaryCheckViewModel;
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@using Newtonsoft.Json



<div class="govuk-width-container">
    @Html.ActionLink("Back", "PreRegistrationReview", "PreRegistrationReview", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">Application review</h1>
                @using (Html.BeginForm("SaveSecondaryCheckReview", "SecondaryCheck", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.PreRegistrationId)
                    @Html.HiddenFor(m => m.PrimaryCheckUserId)
                    @Html.HiddenFor(m => m.SecondaryCheckUserId)
                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header"> Unique Reference # </th>
                                <th scope="col" class="govuk-table__header">Digital Identity <br />and Attribute <br /> Service Provider</th>
                                <th scope="col" class="govuk-table__header">Time Submitted</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                                <th scope="col" class="govuk-table__header">Days left to <br />complete</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a href="#" class="govuk-link">@Model.PreRegistration.URN</a></td>
                                <td class="govuk-table__cell">@Model.PreRegistration.TradingName</td>
                                <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(Model.PreRegistration.CreatedDate)</td>
                                @if (Model.PreRegistration.PreRegistrationReview != null)
                                {
                                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.PreRegistration.PreRegistrationReview.ApplicationReviewStatus)</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.PreRegistration.ApplicationReviewStatus)</td>
                                }
                                <td class="govuk-table__cell">@Model.PreRegistration.DaysLeftToComplete  days</td>
                            </tr>
                        </tbody>
                    </table>
                    <h1 class="govuk-heading-l">Application details</h1>
                    <h1 class="govuk-heading-m">Contact details of the application sponsor</h1>

                    

                    @if (Model.PreRegistration.IsApplicationSponsor)
                    {
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Full name of application
                                    sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.FullName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Job title of application sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.JobTitle
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address of application sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.Email
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number of application sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.TelephoneNumber
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Additional contact details provided
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    No
                                </dd>

                            </div>
                        </dl>
                    }

                    else
                    {
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Full name of application
                                    sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.SponsorFullName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Job title of application sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.SponsorJobTitle
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address of application sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.SponsorEmail
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number of application sponsor
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.SponsorTelephoneNumber
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Additional contact details provided
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Yes
                                </dd>

                            </div>
                        </dl>

                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Full name of additional contact
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.FullName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Job title of additional contact
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.JobTitle
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address of additional contact
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.Email
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number of additional contact
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.TelephoneNumber

                                </dd>
                            </div>
                        </dl>
                    }

                    @* --------------Country ----------------- *@

                    <h1 class="govuk-heading-m govuk-!-padding-top-5">Countries and territories the company currently trades in</h1>  


                     <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsCountryApproved)
                            </dd>
                        </div>
                        </dl>             


                    @if (Model.PreRegistration.Countries.Count>30)
                    {
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-quarter">
                                <p class="govuk-body govuk-!-font-weight-bold"> List of Countries</p>
                            </div>
                            @foreach (var countryList in Model.PreRegistration.CountrySubList)
                            {
                                <div class="govuk-grid-column-one-quarter govuk-body govuk-!-font-weight-regular">
                                    @foreach (var country in countryList)
                                    {
                                        @country.CountryName

                                        <br>
                                    }
                                </div>
                            }
                        </div>

                    }
                    else
                    {
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <p class="govuk-body govuk-!-font-weight-bold"> List of Countries</p>
                            </div>
                            @foreach (var countryList in Model.PreRegistration.CountrySubList)
                            {
                                <div class="govuk-grid-column-one-third govuk-body govuk-!-font-weight-regular">
                                    @foreach (var country in countryList)
                                    {
                                        @country.CountryName

                                        <br>
                                    }
                                </div>
                            }

                        </div>
                    }

                   

                    @* --------------Company  ----------------- *@

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m govuk-!-padding-top-5">Company overview</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsCompanyApproved)
                            </dd>
                        </div>
                    </dl>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Registered name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PreRegistration.RegisteredCompanyName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Trading name(s)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PreRegistration.TradingName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Companies House or charity
                                registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PreRegistration.CompanyRegistrationNumber
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Parent company located
                                outside the UK
                            </dt>
                            @if (Model.PreRegistration.HasParentCompany)
                            {
                                <dd class="govuk-summary-list__value">
                                    Yes
                                </dd>
                            }
                            else
                            {
                                <dd class="govuk-summary-list__value">
                                    No
                                </dd>
                            }

                        </div>

                        @if (Model.PreRegistration.HasParentCompany)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Registered name of parent
                                    company
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.ParentCompanyRegisteredName
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Country of parent company
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.PreRegistration.ParentCompanyLocation
                                </dd>
                            </div>
                        }
                    </dl>
              

                    @* --------------Check list Approval ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">Companies House or charity information</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsCheckListApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to Companies House or charity website</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            Legal status
                        </li>
                        <li>
                            If accounts are up to date
                        </li>
                        <li>
                            Existing certifications
                        </li>
                        <li>
                            Previous or outstanding administrations
                        </li>
                        <li>
                            Address checks
                        </li>

                    </ul>
                  

                    @* --------------Directorships Approval ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">Directorships</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsDirectorshipsApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to Directorships website</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            Validity
                        </li>
                        <li>
                            Sanctioned directors
                        </li>
                        <li>
                            Persons of interest
                        </li>
                        <li>
                            Previous or outstanding administrations
                        </li>

                    </ul>
                 

                    @* --------------Directorships and Relationships Approval ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">Directors and relationships</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsDirectorshipsAndRelationApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to Directors and relationships</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            Directors and Partners relationships to organisations on sanction lis
                        </li>

                    </ul>
           

                    @* --------------Trading Address checks ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">Trading as address checks (if applicable)</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsTradingAddressApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to Trading as address check</a></p>


                   

                    @* --------------sanction list checks ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">Sanctions list checks</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsSanctionListApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to Sanctions list checks</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            <p class="govuk-body"><a href="#" class="govuk-link">OFSI check</a></p>
                        </li>
                    </ul>
                   

                    @* --------------UNFC checks ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">UNFC check (if applicable)</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsUNFCApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to UNFC check</a></p>

              

                    @* --------------EC checks ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">EC check (if applicable)</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsECCheckApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to EC check</a></p>

                   

                    @* --------------TARIC checks ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">TARIC check (if applicable)</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsTARICApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to TARIC check</a></p>

             

                    @* --------------Banned Political affiliation ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">Banned Political affiliations</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsBannedPoliticalApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to Banned Political affiliations</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            Money Laundering and Terrorism Funding
                        </li>
                        <li>
                            Funding that can pose risks
                        </li>
                        <li>
                            Existing certifications
                        </li>
                        <li>
                            ICO check historical breach and fine information
                        </li>

                    </ul>

                    


                    @* --------------Providers webpage ----------------- *@
                    <hr class="govuk-section-break govuk-section-break--l">
                    <h1 class="govuk-heading-m">Providers webpage</h1>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(Model.IsProvidersWebpageApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="#" class="govuk-link">Link to Providers webpage</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            Authenticity
                        </li>
                        <li>
                            SSL certificate
                        </li>

                    </ul>

                

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    @*    ---------Comments and Save ------- *@


                    <p class="govuk-body govuk-!-font-weight-bold"> Comments</p>
                    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "govuk-error-message" })
                    @Html.TextAreaFor(model => model.Comment, new { @class = "govuk-textarea", @id = "secondarycheck-comment", @name = "comment", @rows = "5" })


                    @Html.ValidationMessageFor(m => m.SubmitValidation, "", new { @class = "govuk-error-message" })
                   

                        @if(Model.ApplicationReviewStatus == ApplicationReviewStatusEnum.PrimaryCheckFailed)
                        {
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" disabled aria-disabled="true" data-module="govuk-button" name="saveReview" value="approve">
                                Approve application
                            </button>
                            <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" name="saveReview" value="reject">
                                Reject application
                            </button>
                        </div>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="sentback">
                            Send back to primary check for another review
                        </button>

                        }
                        else if (Model.ApplicationReviewStatus == ApplicationReviewStatusEnum.PrimaryCheckPassed)
                        {
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="approve">
                                Approve application
                            </button>
                            <button type="submit" class="govuk-button govuk-button--warning" disabled aria-disabled="true" data-module="govuk-button" name="saveReview" value="reject">
                                Reject application
                            </button>
                        </div>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="sentback">
                            Send back to primary check for another review
                        </button>
                        }
                        else 
                        {
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" disabled aria-disabled="true" data-module="govuk-button" name="saveReview" value="approve">
                                Approve application
                            </button>
                            <button type="submit" class="govuk-button govuk-button--warning" disabled aria-disabled="true"  data-module="govuk-button" name="saveReview" value="reject">
                                Reject application
                            </button>
                        </div>
                        <button type="submit" class="govuk-button govuk-button--secondary"  disabled aria-disabled="true"  data-module="govuk-button" name="saveReview" value="sentback">
                            Send back to primary check for another review
                        </button>
                        }                   

                }
            </div>
        </div>
    </main>

</div>