@model DVSAdmin.Models.PublicInterestSecondaryCheckViewModel;
@using Newtonsoft.Json
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "Reject public interest check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@{
  
    int index = 0;
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "SecondaryCheckReview", "PublicInterestSecondaryCheck", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        @using (Html.BeginForm("ProceedSecondaryCheckReject", "PublicInterestSecondaryCheck", FormMethod.Post))
        {
            @Html.HiddenFor(m=>Model.ServiceId)
            @Html.HiddenFor(m => Model.ProviderProfileId)
            @if (Html.ViewData?.ModelState.ContainsKey("SelectedReasonIds") == true && Html.ViewData.ModelState["SelectedReasonIds"].Errors.Count > 0)
            {
                ViewData["Title"] = "Error: " + ViewData["Title"];
                @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                         new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("SelectedReasonIds", Html.ViewData.ModelState["SelectedReasonIds"]?.Errors))
            }
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                   Reject public interest check
                </h1>
                <p class="govuk-body">
                    You are about to confirm that the following application has failed all required checks.
                </p>
               
                 @Html.HiddenFor(m=>m.ServiceId)
                 @Html.HiddenFor(m => m.ProviderProfileId)
                 <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                    <div class="govuk-grid-column-full">
                        @await Html.PartialAsync("~/Views/PublicInterestCheck/PartialViews/_ServiceDetailsWithReviewStatus.cshtml", Model.Service)
                    </div>
            </div>

            <div class="govuk-grid-column-two-thirds">


                    @if (Html.ViewData?.ModelState.ContainsKey("SelectedReasonIds") == true && Html.ViewData.ModelState["SelectedReasonIds"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error" aria-describedby="selectedreasonids-hint selectedreasonids-error">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Select reason for rejection
                                </legend>
                                <div id="selectedreasonids-hint" class="govuk-hint">
                                    Select a reason for rejection to be sent to the applicant:
                                </div>
                                <p id="selectedreasonids-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    @Html.ValidationMessageFor(m => m.SelectedReasonIds, "", new { @class = "govuk-error-message" })
                                </p>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var role in Model.AvailableReasons)
                                    {
                                        var idSuffix = index > 0 ? $"_{index}" : string.Empty; // added to make the first checkbox id as selectedreasonids so that error summary ahref refers first item
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedReasonIds" value="@role.Id" id="selectedreasonids@(idSuffix)"
                                            @(Model.SelectedReasonIds.Contains(role.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="selectedreasonids@(idSuffix)">@role.RejectionReasonName</label>
                                        </div>
                                        index++;
                                    }
                                </div>

                            </fieldset>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="selectedreasonids-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Select reason for rejection
                                </legend>
                                <div id="selectedreasonids-hint" class="govuk-hint">
                                    Select a reason for rejection to be sent to the applicant:
                                </div>

                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var role in Model.AvailableReasons)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" type="checkbox" name="SelectedReasonIds" value="@role.Id" id="selectedreasonids_@role.Id"
                                            @(Model.SelectedReasonIds.Contains(role.Id) ? "checked" : "") />
                                            <label class="govuk-label govuk-checkboxes__label" for="selectedreasonids_@role.Id">@role.RejectionReasonName</label>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    }

                   
                <h2 class="govuk-heading-m">Who will receive the application decision notification</h2>

                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of primary contact

                            </dt>
                            <dd class="govuk-summary-list__value">
                              @Model.Service.Provider.PrimaryContactEmail
                            </dd>
                        </div>
                    </dl>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of secondary contact

                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Service.Provider.SecondaryContactEmail
                            </dd>
                        </div>
                    </dl>
               


                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" name="saveReview" value="reject">
                        Proceed with rejection
                    </button>
                        <a href="@Url.Action("SecondaryCheckReview","PublicInterestSecondaryCheck", new {serviceId = Model.ServiceId})" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel and back
                        </a>
                </div>
            </div>
        </div>
      }
    </main>
</div>


