@model ConsentViewModel
@{
    ViewData["Title"] = "You are about to agree to publish your service on the register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["HidePublishStatus"] = true;// setting variable to hide status field in partial view

}
@using (Html.BeginForm("GiveConsent", "Consent", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.token)
   
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "ProviderReview", "ProviderReview", null, new { @class = "govuk-back-link" })
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                    @if (ViewData.ModelState.ErrorCount >0)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl">You are about to agree to publish your service on the register</h1>
                    <p class="govuk-body">To consent to publish your service on the register, please click the Give consent to publish’ button below.</p>
                    <h2 class="govuk-heading-m">Basic information</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Public contact email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.CertificateInformation.Provider.PublicContactEmail
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Telephone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.CertificateInformation.Provider.TelephoneNumber
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Website address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.CertificateInformation.Provider.WebsiteAddress
                            </dd>
                        </div>
                    </dl>



                    <h2 class="govuk-heading-m">Service 1:  @Model.CertificateInformation.ServiceName </h2>
                   
                    @await Html.PartialAsync("~/Views/PartialViews/_ServiceDetailsView.cshtml", Model.CertificateInformation)
                    <h2 class="govuk-heading-l">Certificate of conformity</h2>
                    <span class="govuk-caption-xl">@Model.CertificateInformation.FileName</span>
                    <div id="download-certificate-hint" class="govuk-hint">
                        PDF, 19.5 KB, 1 page
                        This file may not be suitable for users of assistive technology.
                    </div>

                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Download certificate of conformity
                    </a>

                    <hr class="govuk-section-break govuk-section-break--m">              



                    @await Html.PartialAsync("~/Views/PartialViews/_CheckBoxView.cshtml", new ConsentCheckBoxViewModel
                   {
                        PropertyName = "HasConsent",
                        Value = Model.HasConsent,
                        HasError = Html.ViewData.ModelState.ContainsKey("HasConsent") && Html.ViewData.ModelState["HasConsent"].Errors.Count > 0,
                        ErrorMessage = Html.ViewData.ModelState.ContainsKey("HasConsent") && Html.ViewData.ModelState["HasConsent"].Errors.Count > 0 ?
                        Html.ViewData.ModelState["HasConsent"].Errors[0].ErrorMessage : string.Empty,
                        Label = "I agree to publish these details on the register"
                     
                   })
                    <div class="govuk-button-group" id="submitvalidation">
                        <button type="submit" class="govuk-button" data-module="govuk-button" name="confirm" value="approve">
                            Confirm
                        </button>
                    </div>
                    <p class="govuk-body">Once you consent to publication it may take up to 24 hours for your service to appear on the register.</p>
                </div>
            </div>
        </main>
    </div>


}


