@using DVSAdmin.BusinessLogic.Models
@using DVSAdmin.Extensions
@model CabTransferRequestDto

@{
    ViewData["Title"] = "Cancel Assignment Request";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ServiceReassign", "CabTransfer", new { serviceId = Model.ServiceId, isTransferOngoing = true }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Review this information and select 'Confirm' to cancel the assignment request.</h1>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Service: @Model.Service.ServiceName
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Service publication status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @HtmlExtensions.ToStyledStrongTag(Model.Service.ServiceStatus)
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Registered name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ProviderProfile.RegisteredName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    CAB transferring this service
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.FromCabUser.Cab.CabName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    CAB accepting this service
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ToCab.CabName
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <h2 class="govuk-heading-m">What will happen next</h2>
                <p class="govuk-body">
                    The reassignment request sent for this service will no longer be valid.
                    If you need to reassign this service, you will need to create a new reassignment request.
                </p>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you cancel the reassignment request, the action cannot be undone.
                    </strong>
                </div>
                @using (Html.BeginForm("ReassignmentRequestCancelled", "CabTransfer", FormMethod.Post))
                {
                    // cabTransferRequestId, toCabId, serviceName, providerName
                    @Html.Hidden("cabTransferRequestId", Model.Id)
                    @Html.Hidden("toCabId", Model.ToCabId)
                    @Html.Hidden("serviceName", Model.Service.ServiceName)
                    @Html.Hidden("providerName", Model.ProviderProfile.RegisteredName)
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Confirm
                        </button>
                        <a href="@Url.Action("ServiceReassign", "CabTransfer", new { serviceId = Model.ServiceId, isTransferOngoing = true })"
                           class="govuk-button govuk-button--secondary">
                            Cancel
                        </a>
                    </div>
                }
            </div>
        </div>
    </main>
</div>                       