@model DVSAdmin.BusinessLogic.Models.ServiceDto;
@using DVSAdmin.CommonUtility
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Secondary review";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PublicInterestCheck", "PublicInterestCheck", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-xl">Public interest check</span>
                <h1 class="govuk-heading-xl">Secondary review</h1>
                                

                    <p class="govuk-body">You are conducting the secondary review of the public interest check. This enhances security by ensuring that the decision
                        making process does not depend on a single individual.
                    </p>

             
                @await Html.PartialAsync("~/Views/PublicInterestCheck/PartialViews/_ServiceDetailsWithReviewStatus.cshtml", Model)


                @if (Model.PublicInterestCheck.PublicInterestCheckStatus == PublicInterestCheckEnum.PrimaryCheckFailed)
                {
                    <h3 class="govuk-heading-m">Primary check reviewer comments</h3>
                    <p class="govuk-body govuk-summary-list__key">@Model.PublicInterestCheck.PrimaryCheckUser.UserName</p>
                    <span class="govuk-caption-m">@DateTimeExtensions.FormatDateTime(@Model.PublicInterestCheck.PrimaryCheckTime)</span>
                    <p class="govuk-body">  @HtmlExtensions.ToStringWithLineBreaks(@Model?.PublicInterestCheck.PrimaryCheckComment ?? string.Empty)</p>
                }




                <h2 class="govuk-heading-l">How to complete the checks</h2>
                    <ol class="govuk-list govuk-list--number">
						<li>Ensure all the company information on the certificate meets the requirements in the Process for conducting certificate reviews and due diligence checks document.</li>
                        <li>
                            If the primary reviewer has passed the information submitted during the
                            primary check, and you agree with their decision, select the 'Approve application' button.
                        </li>
                        <li>
                           If the primary reviewer has failed the information submitted during the primary check, and you do not agree with
                           their decision, select the 'Send back to primary check' button.
                        </li>
                    </ol>


                <h2 class="govuk-heading-l">Application details</h2>
                    <h3 class="govuk-heading-m">Company overview</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Registered name</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.RegisteredName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Trading name</dt>
                            <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.TradingName)</dd>
                        </div>
                        @if (Model.Provider.HasRegistrationNumber)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Companies House or charity registration number</dt>
                                <dd class="govuk-summary-list__value">@Model.Provider.CompanyRegistrationNumber</dd>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Companies House or charity registration number</dt>
                                <dd class="govuk-summary-list__value">@Constants.NullFieldsDisplay</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Dun & Bradstreet or D-U-N-S number</dt>
                                <dd class="govuk-summary-list__value">@Model.Provider.DUNSNumber</dd>
                            </div>
                        }
                        @if (Model.Provider.HasParentCompany)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Registered name of parent company</dt>
                                <dd class="govuk-summary-list__value">@Model.Provider.ParentCompanyRegisteredName</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Location of parent company</dt>
                                <dd class="govuk-summary-list__value">@Model.Provider.ParentCompanyLocation</dd>
                            </div>

                        }
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Public contact email</dt>
                            <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.PublicContactEmail)</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Public telephone number</dt>
                            <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.ProviderTelephoneNumber)</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Website address</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.ProviderWebsiteAddress</dd>
                        </div>
                    </dl>

                    <hr class="govuk-section-break govuk-section-break--l">


                    @if (Model.PublicInterestCheck.PublicInterestCheckStatus == PublicInterestCheckEnum.PrimaryCheckPassed)
                    {
                        <div class="govuk-button-group">
                        <a href="@Url.Action("ProceedSecondaryCheckApproval","PublicInterestSecondaryCheck", new {serviceId = Model.Id})" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                            Approve application
                        </a>

                        <a href="@Url.Action("ConfirmSentBackForPrimaryCheck","PublicInterestSecondaryCheck", new {serviceId = Model.Id})" role="button" class="govuk-button govuk-button--secondary" draggable="false"  data-module="govuk-button">
                            Send back to primary check
                        </a>
                        </div>

                    }
                    else if (Model.PublicInterestCheck.PublicInterestCheckStatus == PublicInterestCheckEnum.PrimaryCheckFailed)
                    {
                        <div class="govuk-button-group">


                        <a href="@Url.Action("ProceedSecondaryCheckReject","PublicInterestSecondaryCheck", new {serviceId = Model.Id})" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
                            Reject application
                        </a>


                        <a href="@Url.Action("ConfirmSentBackForPrimaryCheck","PublicInterestSecondaryCheck", new {serviceId = Model.Id})" role="button" class="govuk-button govuk-button--secondary"  draggable="false" data-module="govuk-button">
                            Send back to primary check
                        </a>

                          
                        </div>

                    }
                
                
            </div>
        </div>
    </main>
</div>
