@model DVSAdmin.Models.PublicInterestSecondaryCheckViewModel;
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Application review";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PublicInterestCheck", "PublicInterestCheck", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Application review</h1>
                @using (Html.BeginForm("SaveSecondaryCheckReview", "PublicInterestSecondaryCheck", FormMethod.Post))
                {
                    @if (ViewData.ModelState.ErrorCount > 0)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    @Html.HiddenFor(m => m.PrimaryCheckUserId)
                    @Html.HiddenFor(m => m.SecondaryCheckUserId)
                    @Html.HiddenFor(m => m.ServiceId)

                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Service provider</th>
                                <th scope="col" class="govuk-table__header">Service name</th>
                                <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                                <th scope="col" class="govuk-table__header">Time submitted (GMT)</th>
                                <th scope="col" class="govuk-table__header">Review status</th>
                                <th scope="col" class="govuk-table__header">Days left to<br />complete review</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Model.Service.Provider.RegisteredName</td>
                                <td class="govuk-table__cell">@Model.Service.ServiceName</td>
                                <td class="govuk-table__cell">@Model.Service.CabUser.Cab.CabName</td>
                                <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(@Model.Service.ModifiedTime) </td>
                                @if (@Model.Service.PublicInterestCheck == null)
                                {
                                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(@Model.Service.ServiceStatus)</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(@Model.Service.PublicInterestCheck.PublicInterestCheckStatus)</td>
                                }
                                <td class="govuk-table__cell">@Model.Service.DaysLeftToCompletePICheck days</td>
                            </tr>
                        </tbody>
                    </table>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Instructions for completing the application review
                            </span>
                        </summary>
                        <ol class="govuk-list govuk-list--number">

                            <li>
                                This is the secondary check. This is part of the 2i check, which enhances security by ensuring that the decision-making process does not depend on a single individual.

                            </li>
                            <li>
                                A first reviewer has already completed the primary check on this application. Review the application thoroughly, paying close attention to the decision on each section and the comments made by the first reviewer.

                            </li>
                            <li>
                                If you agree with the first reviewer’s decision, you can proceed by selecting the button that corresponds with the primary check decision.

                            </li>
                            <li>
                                If you disagree with the first reviewer’s decision, you may need to request for clarification and send the application back for another review.
                            </li>
                        </ol>
                    </details>

                    <h2 class="govuk-heading-l">Application details</h2>
                    <h3 class="govuk-heading-m">Provider contact details</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Full name of primary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.PrimaryContactFullName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Job title of primary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.PrimaryContactJobTitle</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email address of primary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.PrimaryContactEmail</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Telephone number of primary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.PrimaryContactTelephoneNumber</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Full name of secondary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.SecondaryContactFullName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Job title of secondary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.SecondaryContactJobTitle</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email address of secondary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.SecondaryContactEmail</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Telephone number of secondary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.SecondaryContactTelephoneNumber</dd>
                        </div>
                    </dl>

                    <h3 class="govuk-heading-m">Company overview</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Registered name</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.RegisteredName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Trading name</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.TradingName</dd>
                        </div>
                        @if (Model.Service.Provider.HasRegistrationNumber)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Companies House or charity registration number</dt>
                                <dd class="govuk-summary-list__value">@Model.Service.Provider.CompanyRegistrationNumber</dd>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Companies House or charity registration number</dt>
                                <dd class="govuk-summary-list__value">NA</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Dun & Bradstreet or D-U-N-S number</dt>
                                <dd class="govuk-summary-list__value">@Model.Service.Provider.DUNSNumber</dd>
                            </div>
                        }
                        @if (Model.Service.Provider.HasParentCompany)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Registered name of parent company</dt>
                                <dd class="govuk-summary-list__value">@Model.Service.Provider.ParentCompanyRegisteredName</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Location of parent company</dt>
                                <dd class="govuk-summary-list__value">@Model.Service.Provider.ParentCompanyLocation</dd>
                            </div>

                        }
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Public contact email</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.PublicContactEmail</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Public telephone number</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.ProviderTelephoneNumber</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Website address</dt>
                            <dd class="govuk-summary-list__value">@Model.Service.Provider.ProviderWebsiteAddress</dd>
                        </div>
                    </dl>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h2 class="govuk-heading-l">Approval checklist</h2>
                    <h3 class="govuk-heading-m">Companies House or charity information</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsCompanyHouseNumberApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-link" rel="noreferrer noopener" target="_blank">Link to Companies House (opens in a new tab)</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Legal status</li>
                        <li>If accounts are up to date</li>
                        <li>Existing certifications</li>
                        <li>Previous or outstanding administrations</li>
                        <li>Address checks</li>
                    </ul>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">Directorships</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsDirectorshipsApproved)
                            </dd>
                        </div>
                    </dl>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Validity</li>
                        <li>Sanctioned directors</li>
                        <li>Persons of interest</li>
                        <li>Previous or outstanding administrations</li>
                    </ul>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">Directors and relationships</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsDirectorshipsAndRelationApproved)
                            </dd>
                        </div>
                    </dl>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Directors and partners' relationships to organisations on sanction list</li>
                    </ul>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">Trading as address checks, if applicable</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsTradingAddressApproved)
                            </dd>
                        </div>
                    </dl>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">Sanctions list checks</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsSanctionListApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="https://sanctionssearchapp.ofsi.hmtreasury.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">OFSI Check (opens in a new tab)</a></p>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">UNFC check, if applicable</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsUNFCApproved)
                            </dd>
                        </div>
                    </dl>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">EC check, if applicable</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsECCheckApproved)
                            </dd>
                        </div>
                    </dl>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">TARIC check, if applicable</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsTARICApproved)
                            </dd>
                        </div>
                    </dl>

                    <hr class="govuk-section-break govuk-section-break--l">
                    <h3 class="govuk-heading-m">Banned political affiliations</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsBannedPoliticalApproved)
                            </dd>
                        </div>
                    </dl>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Money Laundering and Terrorism Funding</li>
                        <li>Funding that can pose risks</li>
                        <li>Existing certifications</li>
                        <li>ICO – check historical breach and fine information</li>
                    </ul>

                    <h3 class="govuk-heading-m">Service provider’s website</h3>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Primary check status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @HtmlExtensions.ToStyledStrongTag(@Model.IsProvidersWebpageApproved)
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body"><a href="@Model.Service.Provider.ProviderWebsiteAddress" class="govuk-link" rel="noreferrer noopener" target="_blank">Link to service provider’s website (opens in a new tab)</a></p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Authenticity</li>
                        <li>SSL certificate</li>
                    </ul>

                    <h3 class="govuk-heading-m">Primary check reviewer comments</h3>
                    <p class="govuk-body govuk-summary-list__key">@Model.Service.PublicInterestCheck.PrimaryCheckUser.UserName</p>
                    <p class="govuk-body"> @DateTimeExtensions.FormatDateTime(@Model.Service.PublicInterestCheck.PrimaryCheckTime)</p>
                    <p class="govuk-body">  @HtmlExtensions.ToStringWithLineBreaks(@Model?.PrimaryCheckComment??string.Empty)</p>


                    @if (Html.ViewData.ModelState.ContainsKey("Comment") && Html.ViewData.ModelState["Comment"].Errors.Count > 0)
                    {
                        <hr class="govuk-section-break govuk-section-break--l">
                        <div class="govuk-form-group">
                            <h3 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="comments">
                                    Add a comment
                                </label>
                            </h3>
                            <div id="more-detail-hint" class="govuk-hint">
                                Please add additional details to support your decision
                            </div>
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>  @Html.ValidationMessageFor(m => m.SecondaryCheckComment)
                            </p>
                            @Html.TextAreaFor(model => model.SecondaryCheckComment, new { @class = "govuk-textarea govuk-textarea--error", @id = "comment", @name = "comment-name", @rows = "5" })
                        </div>
                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <h3 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="comment">
                                    Add a comment
                                </label>
                            </h3>
                            <div id="more-detail-hint" class="govuk-hint">
                                Please add additional details to support your decision
                            </div>

                            @Html.TextAreaFor(model => model.SecondaryCheckComment, new { @class = "govuk-textarea", @id = "comment", @name = "comment-name", @rows = "5" })
                        </div>

                    }



                    @if (Model.Service.PublicInterestCheck.PublicInterestCheckStatus == PublicInterestCheckEnum.PrimaryCheckPassed)
                    {
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="approve">
                                Approve application
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="sentback">
                                Send back to primary check for another review
                            </button>
                        </div>

                    }
                    else if (Model.Service.PublicInterestCheck.PublicInterestCheckStatus == PublicInterestCheckEnum.PrimaryCheckFailed)
                    {
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" name="saveReview" value="reject">
                                Reject application
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="sentback">
                                Send back to primary check for another review
                            </button>
                        </div>

                    }
                }
                
            </div>
        </div>
    </main>
</div>
