@using DVSAdmin.Extensions
@model DVSAdmin.Models.ServiceSummaryViewModel
@{
    bool manual = Model?.SelectedManualUnderPinningServiceId == null && Model?.SelectedUnderPinningServiceId == null;
    bool confirmed = ViewData["Confirmed"] as bool? ?? false;
}
<div class="govuk-grid-column-full govuk-!-padding-0">
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                Underpinning Service
            </h2>
            @if (!confirmed && !manual)
            {
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="@Url.Action("ConfirmUnderpinningService", "EditServiceTrustFramework0_4", new { serviceId = Model.ServiceId, published = false,
                         fromSummaryPage = ViewBag.fromSummaryPage, fromDetailsPage = ViewBag.fromDetailsPage})">Confirm</a>
                    </li>
                </ul>
            }
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Service name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.UnderPinningServiceName
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            @Html.ActionLink("Change", "UnderPinningServiceName", "EditServiceTrustFramework0_4",
                            new { fromUnderPinningServiceSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change underpinning service name" })
                        </dd>
                    }
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Service provider
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.UnderPinningProviderName
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            @Html.ActionLink("Change", "UnderPinningProviderName", "EditServiceTrustFramework0_4",
                                     new { fromUnderPinningServiceSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change underpinning provider name" })
                        </dd>
                    }
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Conformity Assessment Body of Underpinning service
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model?.SelectCabViewModel?.SelectedCabName
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            @Html.ActionLink("Change", "SelectCabOfUnderpinningService", "EditServiceTrustFramework0_4",
                            new { fromUnderPinningServiceSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change underpinning service cab name" })
                        </dd>
                    }
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Underpinning service certificate expiry date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @DateTimeExtensions.FormatDateTime(Model.UnderPinningServiceExpiryDate, "dd MMM yyyy")
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            @Html.ActionLink("Change", "UnderPinningServiceExpiryDate", "EditServiceTrustFramework0_4",
                            new { fromUnderPinningServiceSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change underpinning service certificate expiry date" })
                        </dd>
                    }
                </div>
            </dl>
        </div>
    </div>
</div>