@model DVSAdmin.Models.RadioButtonGroupViewModel

<div class="govuk-form-group @(Model.HasError ? "govuk-form-group--error" : "")">
    <fieldset class="govuk-fieldset" aria-describedby="@(Model.PropertyName.ToLower())-error">
        @if (Model.HasError)
        {
            <p id="@(Model.PropertyName.ToLower())-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
            </p>
        }
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                @Html.RadioButton(Model.PropertyName, true, Model.Value == true, new { id = Model.PropertyName.ToLower() + "-correct", @class = "govuk-radios__input" })
                <label class="govuk-label govuk-radios__label" for="@Model.PropertyName.ToLower()-correct">
                    Correct
                </label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButton(Model.PropertyName, false, Model.Value == false, new { id = Model.PropertyName.ToLower() + "-incorrect", @class = "govuk-radios__input" })
                <label class="govuk-label govuk-radios__label" for="@Model.PropertyName.ToLower()-incorrect">
                    Incorrect
                </label>
            </div>
        </div>
    </fieldset>
</div>