@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.Extensions;
@model DVSAdmin.Models.PreRegReviewListViewModel;

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="secondary-check">
    <h2 class="govuk-heading-l">Secondary check overview</h2>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"> Unique Reference # </th>
                <th scope="col" class="govuk-table__header">Digital Identity <br />and Attribute <br /> Service Provider</th>
                <th scope="col" class="govuk-table__header">Time Submitted</th>
                <th scope="col" class="govuk-table__header">Application<br />Status</th>
                <th scope="col" class="govuk-table__header">Days left to <br />complete</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (var item in Model.SecondaryChecksList)
            {
                <tr class="govuk-table__row">


                    <td class="govuk-table__cell"> @Html.ActionLink(item.URN, "SecondaryCheckReview", "SecondaryCheck", new { @preRegistrationId = item.Id }, new { @class = "govuk-link" })</td>
                    <td class="govuk-table__cell">@item.TradingName</td>
                    <td class="govuk-table__cell">  @DateTimeExtensions.FormatDateTime(item.CreatedDate)</td>
                    @if (@item.PreRegistrationReview == null)
                    {
                        <td class="govuk-table__cell">@EnumHtmlExtensions.ToStyledStrongTag(item.ApplicationReviewStatus)</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell">@EnumHtmlExtensions.ToStyledStrongTag(item.PreRegistrationReview.ApplicationReviewStatus)</td>
                    }
                    <td class="govuk-table__cell">@item.DaysLeftToComplete  days</td>

                </tr>
            }


        </tbody>
    </table>


</div>