@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@model DVSAdmin.BusinessLogic.Models.ServiceDto
@{
    ViewData["Title"] = "Approve public interest check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "SecondaryCheckReview", "PublicInterestSecondaryCheck", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Approve public interest check</h1>
                <p class="govuk-body">
                    You are about to confirm that the following application has passed all required checks:
                </p>
             
                    <input type="hidden" name="PublicInterestCheckId" value="12345" />
                    <input type="hidden" name="PrimaryCheckUserId" value="67890" />
                    <input type="hidden" name="SecondaryCheckUserId" value="54321" />

                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Service provider</th>
                                <th scope="col" class="govuk-table__header">Service name</th>
                                <th scope="col" class="govuk-table__header">Conformity Assessment<br />Body</th>
                                <th scope="col" class="govuk-table__header">Time submitted (UTC)</th>
                                <th scope="col" class="govuk-table__header">Review status</th>
                                <th scope="col" class="govuk-table__header">Days left to<br />complete review</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@Model.Provider.RegisteredName</td>
                                <td class="govuk-table__cell">@Model.ServiceName</td>
                                <td class="govuk-table__cell">@Model.CabUser.Cab.CabName</td>
                                <td class="govuk-table__cell">@DateTimeExtensions.FormatDateTime(Model.ModifiedTime)</td>
                                <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.PublicInterestCheck.PublicInterestCheckStatus)</td>
                                <td class="govuk-table__cell">@Model.DaysLeftToCompletePICheck  days</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="govuk-heading-l">What will happen once you approve</h2>
                    <p class="govuk-body">
                        Once you approve the application, you are confirming that this application has passed all required checks. The provider will receive an email asking for their agreement to publish the service on the register.
                    </p>
                    <h3 class="govuk-heading-m">Who will receive the application decision notification</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email address of primary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.PrimaryContactEmail</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email address of secondary contact</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.SecondaryContactEmail</dd>
                        </div>
                    </dl>

                    <h3 class="govuk-heading-m">Service information that will be sent to the provider</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Basic information</dt>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Public contact email</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.PublicContactEmail</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Public telephone number</dt>
                              <dd class="govuk-summary-list__value">@Model.Provider.PrimaryContactTelephoneNumber</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Website address</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.ProviderWebsiteAddress</dd>
                        </div>
                        </dl>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Service details: @Model.ServiceName</dt>
                            
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Registered name</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.TradingName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Trading names</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.TradingName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Company address details</dt>
                            <dd class="govuk-summary-list__value">   @HtmlExtensions.ToStringWithLineBreaks(Model.CompanyAddress)</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name of service</dt>
                            <dd class="govuk-summary-list__value">@Model.ServiceName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Roles certified against</dt>
                            <dd class="govuk-summary-list__value">
                                @foreach (var item in Model.ServiceRoleMapping)
                                {
                                    <div>@item.Role.RoleName</div>
                                }
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identity Profiles</dt>
                            <dd class="govuk-summary-list__value">
                                @if (Model.ServiceIdentityProfileMapping!=null)
                                {
                                    @foreach (var item in Model.ServiceIdentityProfileMapping)
                                    {
                                        <div>@item.IdentityProfile.IdentityProfileName</div>
                                    }
                                }
                               
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Supplementary schemes</dt>
                            <dd class="govuk-summary-list__value">

                                @if(Model.ServiceSupSchemeMapping!=null)
                                {
                                    @foreach (var item in Model.ServiceSupSchemeMapping)
                                    {
                                        <div>@item.SupplementaryScheme.SchemeName</div>
                                    }
                                }
                               
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Certificate of conformity</dt>
                            <dd class="govuk-summary-list__value">@Model.FileName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of issue</dt>
                            <dd class="govuk-summary-list__value">  @DateTimeExtensions.FormatDateTime(@Model.ConformityIssueDate, "dd MMMM yyyy")</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of expiry</dt>
                            <dd class="govuk-summary-list__value">  @DateTimeExtensions.FormatDateTime(@Model.ConformityExpiryDate, "dd MMMM yyyy")</dd>
                        </div>
                    </dl>
                    @using (Html.BeginForm("ProceedSecondaryCheckApproval", "PublicInterestSecondaryCheck", FormMethod.Post))
                    {

                        <div class="govuk-button-group">

                            <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="approve">
                                Proceed with Approval
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                                Cancel
                            </button>
                        </div>
                    }
               
            </div>
        </div>
    </main>
</div>
