@using DVSAdmin.CommonUtility
@using DVSAdmin.CommonUtility.Models
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@model DVSAdmin.BusinessLogic.Models.ServiceDto
@{
    ViewData["Title"] = "Approve public interest check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "SecondaryCheckReview", "PublicInterestSecondaryCheck", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
           

                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <p class="govuk-body govuk-!-padding-bottom-4">
                    You are about to confirm that the following application has passed all required checks.
                </p>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Service name</dt>
                        <dd class="govuk-summary-list__value">@Model.ServiceName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Service provider</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.RegisteredName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Conformity Assessment Body (CAB)</dt>
                        <dd class="govuk-summary-list__value"> @Model.CabUser.Cab.CabName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Days left to complete review</dt>
                        <dd class="govuk-summary-list__value"> @Model.DaysLeftToCompletePICheck days</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">New application or reapplication</dt>
                        <dd class="govuk-summary-list__value">  @Model.NewOrResubmission</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Review status</dt>
                        <dd class="govuk-summary-list__value">@HtmlExtensions.ToStyledStrongTag(Model.PublicInterestCheck.PublicInterestCheckStatus)</dd>
                    </div>                  
                </dl>

      


            <div class="govuk-!-width-two-thirds">
                    <h2 class="govuk-heading-m">What happens next</h2>
                    <p class="govuk-body">
                        Once you approve this application, you are confirming that it has passed all
                        the required checks.
                    </p>
                    <p class="govuk-body">
                        The service provider s information will be publicly available on the register of
                        trusted digital identity and attribute service providers.
                    </p>
                    <h2 class="govuk-heading-m">Who will receive the confirmation of this decision</h2>
                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                      
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Email address of <br/>primary contact
                            </th>
                            <td class="govuk-table__cell">
                                @Model.Provider.PrimaryContactEmail
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                Email address of <br/>secondary contact
                            </th>
                            <td class="govuk-table__cell">
                                @Model.Provider.SecondaryContactEmail
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>

            <div class="govuk-!-width-two-thirds">
                <h2 class="govuk-heading-m">Who will also receive an email notification</h2>
                <p class="govuk-body">The CAB and OfDIA will also receive an email notification.</p>
                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    Email address of CAB
                                </th>
                                <td class="govuk-table__cell">
                                    @Model.CabUser.CabEmail
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>

                </div>
            
            <div class="govuk-!-width-two-thirds">

                <a href="@Url.Action("PublishService","PublicInterestSecondaryCheck")" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Proceed with approval
                </a>

                <a href="@Url.Action("SecondaryCheckReview","PublicInterestSecondaryCheck")" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel and back
                </a>
            </div>                 
            </div>  
            
     </div>
    
    </main>
</div>
