@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@model ProviderProfileDto;
@{
    ViewData["Title"] = "You are about to send a request to remove a provider’s whole record from the register";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ReasonForRemoval", "RemoveProvider", new { providerId = Model.Id, removalReason = Model.RemovalReason }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            You are about to send a request to remove a provider’s whole record from the register
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" />
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service provider</th>
                            <th scope="col" class="govuk-table__header">Publication status</th>
                            <th scope="col" class="govuk-table__header">Date and time of <br /> provider agreement <br /> to publish (GMT)</th>
                            <th scope="col" class="govuk-table__header">Conformity <br />Assessment Body</th>
                            <th scope="col" class="govuk-table__header">Services</th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Model.RegisteredName</td>
                            <td class="govuk-table__cell">
                                @HtmlExtensions.ToStyledStrongTag(Model.ProviderStatus)
                            </td>
                            <td class="govuk-table__cell">@DateTimeExtensions.FormatDateTime(Model.PublishedTime)</td>
                            <td class="govuk-table__cell">@Model.CabUser.Cab.CabName</td>
                            <td class="govuk-table__cell">

                                @foreach (var item in Model.Services.Where(s => s.IsCurrent))
                                {
                                    if (item.ServiceStatus == ServiceStatusEnum.Published){
                                        <div class="govuk-!-margin-bottom-1">
                                            @item.ServiceName
                                        </div>
                                    }
                                }

                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

                <h2 class="govuk-heading-m govuk-!-margin-top-6">
                    Selected reason for removing this service
                </h2>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-0" />
                <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reason for removal</dt>
                        <dd class="govuk-summary-list__value">@Model.RemovalReason.GetDescription()</dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m govuk-!-margin-top-8">Who will receive the request</h2>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                <dl class="govuk-summary-list">
                    @if (Model.RemovalReason == RemovalReasonsEnum.ProviderRequestedRemoval) 
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of <br /> primary contact
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PrimaryContactEmail
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of secondary contact
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.SecondaryContactEmail
                            </dd>
                        </div>
                    }
                    else
                    {
                        @foreach (var email in Model.DSITUserEmails.Split(',').ToList())
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Email address of <br /> DSIT user
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @email
                                </dd>
                            </div>
                        }
                    }
                </dl>


                <h2 class="govuk-heading-m govuk-!-margin-top-8">What will happen next</h2>
                <p class="govuk-body">
                    The named contacts above will be sent an email asking them to confirm that the details should be removed.
                    Once they confirm, the details will be automatically removed from the register. The service provider and
                    Conformity Assessment Body will receive an email confirmation of the removal.
                </p>
                <p class="govuk-body">
                    If the contact does not confirm the removal, the details will remain published
                    in the register of digital identity and attribute services.
                </p>

                <div class="govuk-warning-text govuk-!-margin-top-8">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you request the removal, the action can't be undone.
                    </strong>
                </div>

                @using (Html.BeginForm("RequestProviderRemoval", "RemoveProvider", FormMethod.Post))
                {
                    @Html.Hidden("DSITUserEmails", string.Join(",", Model.DSITUserEmails))
                    @Html.HiddenFor(m => m.Id)
                    <input type="hidden" name="removalReason" value="@Model.RemovalReason" />
                    <div class="govuk-button-group govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                        <button type="submit"
                                class="govuk-button govuk-button--warning"
                                data-module="govuk-button">
                            Request provider removal
                        </button>

                        <a class="govuk-button govuk-button--secondary"
                           href="reason-for-removal?providerId=@Model.Id&removalReason=@Model.RemovalReason">
                            Cancel
                        </a>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

