﻿@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions
@using System.Diagnostics
@using System.Reflection
@using System.ComponentModel
@{
    ViewData["Title"] = "Service Removal Reason";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderDetails", "RegisterManagement", new { providerId = ViewBag.ProviderId }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Select a reason for removing this service</h1>
                @using (Html.BeginForm("ProceedWithServiceRemoval", "RemoveProvider", FormMethod.Post))
                {
                    <input type="hidden" name="providerId" value="@ViewBag.ProviderId" />
                    <input type="hidden" name="serviceId" value="@ViewBag.ServiceId" />

                    @if (ViewData.ModelState["ServiceRemovalReason"] != null && ViewData.ModelState["ServiceRemovalReason"].Errors.Count > 0)
                    {
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", ViewData)
                    }

                    <div class="govuk-form-group @(ViewData.ModelState["ServiceRemovalReason"] != null && ViewData.ModelState["ServiceRemovalReason"].Errors.Count > 0 ? "govuk-form-group--error" : "")">
                        <fieldset class="govuk-fieldset" aria-describedby="removal-reason-description">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Select reason for removal</legend>
                            <div class="govuk-hint" id="service-removal-reason-description">You should proceed with removal if any of the reasons below apply.</div>
                            @if (ViewData.ModelState["ServiceRemovalReason"] != null && ViewData.ModelState["ServiceRemovalReason"].Errors.Count > 0)
                            {
                                <span class="govuk-error-message" aria-live="assertive">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    @ViewData.ModelState["ServiceRemovalReason"].Errors[0].ErrorMessage
                                </span>
                            }

                            <div class="govuk-radios" data-module="govuk-radios">
                                @{

                                    var reasons = Enum.GetValues(typeof(ServiceRemovalReasonEnum)).Cast<ServiceRemovalReasonEnum>().ToList();
                                    for (int i = 1; i < reasons.Count; i++)
                                    {
                                        var reason = reasons[i];
                                        var radioId = "radio" + +(int)reason;
                                        var description = reason.GetDescription();
                                        bool isChecked = ViewBag.ServiceRemovalReason == reason;

                                        <div class="govuk-radios__item">
                                            @Html.RadioButton("ServiceRemovalReason", reason, isChecked, new { @id = radioId, @class = "govuk-radios__input" })
                                            <label class="govuk-label govuk-radios__label" for="@radioId">@description</label>
                                        </div>
                                    }
                                }

                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button">Continue</button>
                        <a href="/register-management/provider-details?providerId=@ViewBag.ProviderId" class="govuk-button govuk-button--secondary">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

