@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.CommonUtility.Models;
@using DVSAdmin.Extensions;
@model DVSAdmin.Models.CertificateReviewListViewModel;
  
    <h2 class="govuk-heading-l">Archive</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Service provider</th>
                <th scope="col" class="govuk-table__header">Service name</th>
                <th scope="col" class="govuk-table__header">New / Re- <br />submission</th>
                <th scope="col" class="govuk-table__header">Time submitted (GMT)</th>
                <th scope="col" class="govuk-table__header">Review status</th>
            <th scope="col" class="govuk-table__header">Time reviewed (GMT)</th>
            </tr>
        </thead>

    <tbody class="govuk-table__body">

        @if (Model.ArchiveList != null || Model?.ArchiveList?.Count > 0)
        {            
        
        @foreach (var item in Model.ArchiveList)
        {
            <tr class="govuk-table__row">

                <td class="govuk-table__cell"> @Html.ActionLink(item.Provider.RegisteredName, "CertificateSubmissionDetails", "CertificateReview", new { @certificateInfoId = item.Id }, new { @class = "govuk-link" })</td>
                <td class="govuk-table__cell"> @item.ServiceName</td>         
                <td class="govuk-table__cell">@item.NewOrResubmission</td>

                <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(item.CreatedTime)</td>
                @if (item.CertificateReview != null)
                {
                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(item.CertificateReview.CertificateReviewStatus)</td>
                    <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(item.CertificateReview.ModifiedDate)</td>
                }
                
            </tr>
        }
        }
    </tbody>

    </table>

@if (Model?.ArchiveList == null || Model.ArchiveList.Count == 0)
{
    @await Html.PartialAsync("~/Views/PartialViews/_NoSearchResultsView.cshtml")
}
  

