@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
@model DVSAdmin.Models.CertificateReviewListViewModel;

<h2 class="govuk-heading-l">Review a provider certificate</h2>
<p class="govuk-body">
    <a class="govuk-link" href="~/">Guidance on this section</a>
    <span class="govuk-hint">
        In this section, you will need to review the certificates submitted by the Conformity Assessment Bodies (CABs). Start the review from top to bottom, as the applications that need more urgent action will appear at the top. Once completed, they will appear in the Archive tab.
    </span>
</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Service provider</th>
                    <th scope="col" class="govuk-table__header">Service name</th>
                    <th scope="col" class="govuk-table__header">Conformity Assessment <br /> Body</th>
                    <th scope="col" class="govuk-table__header">Role type</th>
                    <th scope="col" class="govuk-table__header">Time submitted</th>
                    <th scope="col" class="govuk-table__header">Review status</th>
                    <th scope="col" class="govuk-table__header">Days left to <br />complete review</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var item in Model.CertificateReviewList)
                {
                    <tr class="govuk-table__row">
                <td class="govuk-table__cell"> @Html.ActionLink(item.Provider.TradingName, "CertificateValidation", "CertificateReview", new { @serviceId = item.Id }, new { @class = "govuk-link" })</td>
                <td class="govuk-table__cell"> @item.ServiceName</td>              

              
                <td class="govuk-table__cell"> @item.CabUser.Cab.CabName</td>
                     <td class="govuk-table__cell">
                       @foreach(var role in item.ServiceRoleMapping)
                        {
                                RoleEnum enumValue = (RoleEnum)role.RoleId;
                                <div> @Enum.GetName(enumValue) </div>
                        }
                        </td>
                    <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(item.CreatedTime)</td>
                        @if (@item.CertificateReview == null)
                        {
                            <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(item.ServiceStatus)</td>
                        }
                        else
                        {
                            <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(item.CertificateReview.CertificateReviewStatus)</td>
                        }
              
                        <td class="govuk-table__cell">@item.DaysLeftToComplete  days</td>
                    </tr>
                }              
            </tbody>
</table>
