@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
@model DVSAdmin.Models.CertificateReviewListViewModel;

<h2 class="govuk-heading-l">Certificate submissions</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Service name</th>
                    <th scope="col" class="govuk-table__header">Service provider</th>
                    <th scope="col" class="govuk-table__header">Conformity Assessment <br /> Body</th>
                    <th scope="col" class="govuk-table__header">Role type</th>
                    <th scope="col" class="govuk-table__header">Time submitted</th>
                    <th scope="col" class="govuk-table__header">Review status</th>
                    <th scope="col" class="govuk-table__header">Days left to <br />complete checks</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var item in Model.CertificateReviewList)
                {
                    <tr class="govuk-table__row">
                <td class="govuk-table__cell"> @Html.ActionLink(item.ServiceName, "CertificateValidation", "CertificateReview", new { @certificateInfoId = item.Id }, new { @class = "govuk-link" })</td>
                <td class="govuk-table__cell"> @item.Provider.TradingName</td>
                    <td class="govuk-table__cell"> @item.SubmittedCAB</td>
                     <td class="govuk-table__cell">
                       @foreach(var role in item.CertificateInfoRoleMapping)
                        {
                                RoleEnum enumValue = (RoleEnum)role.RoleId;
                                <div> @Enum.GetName(enumValue) </div>
                        }
                        </td>
                        <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(item.CreatedDate)</td>
                        @if (@item.CertificateReview == null)
                        {
                            <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(item.CertificateInfoStatus)</td>
                        }
                        else
                        {
                           @*  <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(item.CertificateReview.CertificateInfoStatus)</td> *@
                        }
                        <td class="govuk-table__cell">@item.DaysLeftToComplete  days</td>
                    </tr>
                }              
            </tbody>
</table>
