@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
@model CertificateInformationViewModel
<div class="govuk-grid-column-full">
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Service name</th>
                <th scope="col" class="govuk-table__header">Service provider</th>
                <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                <th scope="col" class="govuk-table__header">Role type</th>
                <th scope="col" class="govuk-table__header">Time submitted</th>
                <th scope="col" class="govuk-table__header">Review status</th>
                <th scope="col" class="govuk-table__header">Time reviewed</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">

                <th scope="row" class="govuk-table__header">@Model.ServiceName</th>
                <td class="govuk-table__cell">@Model.TradingName</td>
                <td class="govuk-table__cell">@Model.SubmittedCAB</td>
                <td class="govuk-table__cell">
                    @foreach (var role in @Model.CertificateInfoRoleMapping)
                    {
                        RoleEnum enumValue = (RoleEnum)role.RoleId;
                        <div> @Enum.GetName(enumValue) </div>
                    }
                </td>
                <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(Model.CreatedDate)</td>
                @if (Model.CertificateReview !=null)
                {
                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.CertificateReview.CertificateInfoStatus)</td>
                    <td class="govuk-table__cell">@Model.CertificateReview.ModifiedDate</td>
                }
                else
                {
                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.CertificateInfoStatus)</td>
                    <td class="govuk-table__cell"></td>
                }
                

            </tr>
        </tbody>
    </table>
</div>

