@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
@using DVSAdmin.BusinessLogic.Models;
@model ServiceDto

@{
    var dateFormat = ViewData["DateFormat"] as string ?? "d MMM yyyy";
}
<div class="govuk-grid-column-full">
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Service name</th>
                <td class="govuk-table__cell">@Model.ServiceName</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Service Provider</th>
                <td class="govuk-table__cell">@Model.Provider.RegisteredName</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Conformity Assessment Body (CAB)</th>
                <td class="govuk-table__cell">@Model.NewOrResubmission</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Days left to complete review</th>
                <td class="govuk-table__cell">@Model.DaysLeftToComplete days</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">New application or reapplication</th>
                <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.ServiceStatus)</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review status</th>
                <td class="govuk-table__cell">
                    @if (Model.CertificateReview != null)
                    {
                        @HtmlExtensions.ToStyledStrongTag(Model.CertificateReview.CertificateReviewStatus)
                    }
                    else
                    {
                        <span>No review available</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

