@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
@using DVSAdmin.BusinessLogic.Models;
@model ServiceDto
<div class="govuk-grid-column-full">
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Service name</th>
                <th scope="col" class="govuk-table__header">Service provider</th>
                <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                <th scope="col" class="govuk-table__header">Role type</th>
                <th scope="col" class="govuk-table__header">Time submitted (UTC)</th>
                <th scope="col" class="govuk-table__header">Review status</th>
                <th scope="col" class="govuk-table__header">Time reviewed (UTC)</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">@Model.ServiceName</td>
                <td class="govuk-table__cell">@Model.Provider.TradingName</td>
                <td class="govuk-table__cell">@Model.CabUser.Cab.CabName</td>
                <td class="govuk-table__cell">
                    @foreach (var role in @Model.ServiceRoleMapping)
                    {
                        RoleEnum enumValue = (RoleEnum)role.RoleId;
                        <div> @Enum.GetName(enumValue) </div>
                    }
                </td>
                <td class="govuk-table__cell"> @DateTimeExtensions.FormatDateTime(Model.CreatedTime)</td>
                @if (Model.CertificateReview !=null)
                {
                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.CertificateReview.CertificateReviewStatus)</td>
                    <td class="govuk-table__cell">@Model.CertificateReview.ModifiedDate</td>
                }
                else
                {
                    <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.ServiceStatus)</td>
                    <td class="govuk-table__cell"></td>
                }
                

            </tr>
        </tbody>
    </table>
</div>

