@using DVSAdmin.CommonUtility
@using DVSAdmin.Extensions;
@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models;


@{
    bool hidePublishStatus = ViewData["HidePublishStatus"] as bool? ?? false;
}
@model ServiceDto
<dl class="govuk-summary-list govuk-!-margin-bottom-8">

    @if (!hidePublishStatus)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Publication status
            </dt>

            <dd class="govuk-summary-list__value">
                @HtmlExtensions.ToStyledStrongTag(Model.ServiceStatus)
            </dd>
        </div>
    }

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Registered name
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Provider.RegisteredName
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Trading names
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.Provider.TradingName)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Companies House or charity registration number
        </dt>
        <dd class="govuk-summary-list__value">
            @(Model.Provider.HasRegistrationNumber ? Model.Provider.CompanyRegistrationNumber : "No")
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Dun & Bradstreet or D-U-N-S number
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Provider.DUNSNumber
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name of service
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.ServiceName
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            URL link to the service
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.WebSiteAddress
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Company address details
        </dt>
        <dd class="govuk-summary-list__value">
            @HtmlExtensions.ToStringWithLineBreaks(Model.CompanyAddress)
        </dd>
    </div>    
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Roles certified against
        </dt>
        <dd class="govuk-summary-list__value">
            @foreach (var item in Model.ServiceRoleMapping)
            {
                <div>@item.Role.RoleName</div>
            }
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 quality of authenticator</dt>
        <dd class="govuk-summary-list__value">
            @if (Model.ServiceQualityLevelMapping != null && Model.ServiceQualityLevelMapping.Any(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
            {
                @foreach (var item in Model.ServiceQualityLevelMapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Authentication))
                {
                    <div>@item.QualityLevel.Level</div>
                }
            }
            else
            {
                <div>@Constants.NullFieldsDisplay</div>
            }
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 level of protection</dt>
        <dd class="govuk-summary-list__value">
            @if (Model.ServiceQualityLevelMapping != null && Model.ServiceQualityLevelMapping.Any(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
            {
                @foreach (var item in Model.ServiceQualityLevelMapping.Where(x => x.QualityLevel.QualityType == QualityTypeEnum.Protection))
                {
                    <div>@item.QualityLevel.Level</div>
                }
            }
            else
            {
                <div>@Constants.NullFieldsDisplay</div>
            }
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG45 identity profiles</dt>
        <dd class="govuk-summary-list__value">
            @if (Model.ServiceIdentityProfileMapping != null && Model.ServiceIdentityProfileMapping.Any())
            {
                @foreach (var item in Model.ServiceIdentityProfileMapping)
                {
                    <div>@item.IdentityProfile.IdentityProfileName</div>
                }
            }
            else
            {
                <div>@Constants.NullFieldsDisplay</div>
            }
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Supplementary codes</dt>
        <dd class="govuk-summary-list__value">
            @if (Model.ServiceSupSchemeMapping != null && Model.ServiceSupSchemeMapping.Any())
            {
                @foreach (var item in Model.ServiceSupSchemeMapping)
                {
                    <div>@item.SupplementaryScheme.SchemeName</div>
                }
            }
            else
            {
                <div>@Constants.NullFieldsDisplay</div>
            }
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Certificate
            of conformity
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.FileName
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of issue
        </dt>
        <dd class="govuk-summary-list__value">
            @DateTimeExtensions.FormatDateTime(@Model.ConformityIssueDate, "dd MMMM yyyy")
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of expiry
        </dt>
        <dd class="govuk-summary-list__value">
            @DateTimeExtensions.FormatDateTime(@Model.ConformityExpiryDate, "dd MMMM yyyy")
        </dd>
    </div>
</dl>


