@model CertificateApprovalViewModel
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "Approve submission";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "CertificateReview", "CertificateReview", new { reviewId = Model.CertificateReview.CertificateReviewId }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Service name</th>
                            <td class="govuk-table__cell">Remote Verify</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Service Provider</th>
                            <td class="govuk-table__cell">Northrow Limited</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Conformity Assessment Body (CAB)</th>
                            <td class="govuk-table__cell">BSI</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Days left to complete review</th>
                            <td class="govuk-table__cell">2 days</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">New application or reapplication</th>
                            <td class="govuk-table__cell">Reapplication<a href="#" class="govuk-link"><br /> Access the previous submission (Opens in new tab)</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">What will happen once you approve</h2>
                <p class="govuk-body govuk-!-padding-bottom-4">
                    We will email the CAB and other OFDIA users to inform them of this decision.
                </p>


                <h3 class="govuk-heading-m">Who will receive the decision notification</h3>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address of CAB
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.CertificateValidation.Service.CabUser.CabEmail
                        </dd>
                    </div>
                </dl>

                <p class="govuk-body govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                    The application will progress to the public interest check.
                </p>

                <h3 class="govuk-heading-m govuk-!-padding-top-4">Who will receive the email requesting to proceed with the application</h3>
                <hr class="govuk-section-break govuk-section-break--visible">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address of service provider's primary contact
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.CertificateValidation.Service.Provider.PrimaryContactEmail
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address of service provider's secondary contact
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.CertificateValidation.Service.Provider.SecondaryContactEmail
                        </dd>
                    </div>
                </dl>


                <div class="govuk-button-group">

                    <a href="/certificate-review/confirm-approval" role="button" draggable="false" class="govuk-button"
                       data-module="govuk-button">
                        Proceed with approval
                    </a>
                    <a href="/certificate-review/certificate-review" class="govuk-button govuk-button--secondary"
                       role="button" draggable="false" data-module="govuk-button">
                        Cancel
                    </a>

                </div>
            </div>
        </div>
    </main>

</div>



