@model CertificateReviewViewModel
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Part 2 of 2: Information match";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    ViewData["HidePublishStatus"] = true;// setting variable to hide status field in partial view
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "CertificateValidation", "CertificateReview", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">

        <div class="govuk-grid-row">
            @using (Html.BeginForm("SaveCertificateReview", "CertificateReview", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CertificateReviewId)

                <div class="govuk-grid-column-full">

                    @if (ViewData.ModelState.ErrorCount > 0)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl">Part 2 of 2: Information match </h1>
                    @await Html.PartialAsync("~/Views/CertificateReview/PartialViews/_ServiceDetailsWithDaysLeftView.cshtml", Model.Service)
                </div>


                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">Information match</h2>
                    <p class="govuk-body">
                        In this section, you will need to review the service provider's certificate submitted by the Conformity Assessment Body (CAB) against the submitted information below to check that the information matches. It is important that all information matches as it will be publicly available.
                    </p>


                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Instructions for completing the information match
                            </span>
                        </summary>
                        <div class="govuk-details__text">


                            <ol class="govuk-list govuk-list--number">
                                <li>
                                    Make sure that you have the service provider’s certificate of conformity open. You can download the file again using the ‘Download certificate of conformity’ button below.
                                </li>
                                <li>
                                    Once you have the certificate open, compare the certification information below.
                                </li>
                                <li>
                                    After you have verified that all items match, scroll down to the bottom of the page and click the ‘Yes, it matches the information on the certificate’ option. If the items do not match, click the ‘No, it does not match’ option. You must enter comments or notes in the text area at the bottom of the page.
                                </li>
                                <li>
                                    If you wish to submit your review at a later time, you can select the ‘Save as draft’ button located at the bottom of the page. You must have completed all sections before saving.
                                </li>
                                <li>
                                    Once you have verified all items, scroll down to the bottom of the page and select ‘Approve submission' or ‘Reject submission’ to proceed with the process. To proceed with approval, the submission must have passed all certificate validation and information match checks.
                                </li>
                            </ol>
                        </div>
                    </details>

                    <h2 class="govuk-heading-l">Provided certificate of conformity</h2>
                    <p class="govuk-body">
                        Download the certificate of conformity provided by the CAB to compare against the details submitted by the CAB.
                    </p>

                    <span class="govuk-caption-xl">@Model.Service.FileName</span>

                    <div id="download-certificate-hint" class="govuk-hint">
                        PDF, @Model.Service.FileSizeInKb KB, 1 page
                        This file may not be suitable for users of assistive technology.
                    </div>

                    <a href="/certificate-review/download-certificate?key=@Model.Service.FileLink&filename=@Model.Service.FileName" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" target="_blank">
                        Download certificate of conformity
                    </a>

                    <hr class="govuk-section-break govuk-section-break--m">

                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m">Certification information</h3>
             

                    @await Html.PartialAsync("~/Views/PartialViews/_ServiceDetailsView.cshtml", Model.Service)
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">Information match</h3>

                    <p class="govuk-body">
                        The information above matches the service provider's certificate of conformity.
                    </p>


                    @await Html.PartialAsync("~/Views/PartialViews/_TwoRadioButtonGroupView.cshtml", new TwoRadioButtonGroupViewModel
                   {
                       PropertyName = "InformationMatched",
                       Value = Model.InformationMatched,
                       HasError = Html.ViewData.ModelState.ContainsKey("InformationMatched") && Html.ViewData.ModelState["InformationMatched"].Errors.Count > 0,
                       ErrorMessage = Html.ViewData.ModelState.ContainsKey("InformationMatched") && Html.ViewData.ModelState["InformationMatched"].Errors.Count > 0 ?
                       Html.ViewData.ModelState["InformationMatched"].Errors[0].ErrorMessage : string.Empty,
                       Label1 = "Yes, it matches the information on the certificate",
                       Label2 = "No, it does not match"
                   })



                    @if (Html.ViewData.ModelState.ContainsKey("Comments") && Html.ViewData.ModelState["Comments"].Errors.Count > 0)
                    {
                        <div class="govuk-form-group govuk-form-group--error">
                            <h3 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="comments">
                                    Add a comment
                                </label>

                            </h3>
                            <div id="comments-hint" class="govuk-hint">
                                If you had selected ‘No, it does not match’, you should provide further details. If all the information matches the certificate, please provide a note to confirm below.
                            </div>
                            <p class="govuk-body"></p>
                            <p id="comments-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>  @Html.ValidationMessageFor(m => m.Comments)
                            </p>
                            @Html.TextAreaFor(model => model.Comments, new { @class = "govuk-textarea govuk-textarea--error", @id = "comments", @name = "comment", @rows = "5", aria_describedby = "comments-hint comments-error" })
                        </div>

                    }
                    else
                    {
                        <div class="govuk-form-group">
                            <h3 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="comments">
                                    Add a comment
                                </label>
                            </h3>
                            <div id="comments-hint" class="govuk-hint">
                                If you had selected ‘No, it does not match’, you should provide further details. If all the information matches the certificate, please provide a note to confirm below.
                            </div>

                            @Html.TextAreaFor(model => model.Comments, new { @class = "govuk-textarea", @id = "comments", @name = "comment", @rows = "5",
                           aria_describedby = "comments-hint" })
                        </div>

                    }
                </div>

                <div class="govuk-grid-column-full">
                    @Html.ValidationMessageFor(m => m.SubmitValidation, "", new { @class = "govuk-error-message", id = "submit-error" })



                    @if (Model.Service.CertificateReview == null || (Model.Service.CertificateReview != null &&
                 Model.Service.CertificateReview.CertificateReviewStatus == CertificateReviewEnum.InReview))
                    {
                        <div class="govuk-button-group" id="submitvalidation">
                            <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="approve">
                                Approve submission
                            </button>
                            <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" name="saveReview" value="reject">
                                Reject submission
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="draft">
                                Save as draft
                            </button>
                        </div>

                    }


                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            To proceed with approval, this submission must have passed all certificate validation and information match checks
                        </strong>
                    </div>
                </div>
            }


        </div>
    </main>
</div>