@model ProfileSummaryViewModel
@{
    ViewData["Title"] = "ProfileSummary";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@{
    bool isEditPage = Convert.ToBoolean(ViewBag.isEditPage); // else summary spage
}



    <div class="govuk-width-container">
        @if(isEditPage)
        {
        @Html.ActionLink("Back", "ProviderDetails", "RegisterManagement", new { providerId = Model.ProviderProfileId }, new { @class = "govuk-back-link" })

        }
        
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if(isEditPage)
                    {
                        <h1 class="govuk-heading-xl">@Model.RegisteredName profile information</h1>
                    }
                    else
                    {
                        <h1 class="govuk-heading-xl"> Check your answers before submitting your request to update information</h1>

                    }
                  
                </div>
                <div class="govuk-grid-column-full">


                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Company information
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Registered company name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.RegisteredName
                                    </dd>
                                    <dd class="govuk-summary-list__actions">

                                     @if(Model.IsEditable)
                                    {
                                        @Html.ActionLink("Change", "RegisteredName", "EditProvider", new { fromSummaryPage = !isEditPage },
                                            new
                                            {
                                                @class = "govuk-link",
                                                @aria_label = "Change digital identity and attribute service provider’s registered company name"
                                            })
                                    }
                              
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Trading name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.TradingName
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                    @if (Model.IsEditable)
                                    {
                                        @Html.ActionLink("Change", "TradingName", "EditProvider", new { fromSummaryPage = !isEditPage },
                                                 new
                                                 {
                                                     @class = "govuk-link",
                                                     @aria_label = "Change digital identity and attribute service provider’s trading name"
                                                  })
                                    }
                                   
                                    </dd>
                                </div>


                                @if (Convert.ToBoolean(Model.HasRegistrationNumber))
                                {

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Companies House or charity
                                            registration number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.CompanyRegistrationNumber
                                        </dd>
                                     
                                    </div>

                                }
                                else
                                {
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Companies House or charity
                                            registration number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            No
                                        </dd>
                                      
                                    </div>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Dun & Bradstreet or D-U-N-S
                                            number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.DUNSNumber
                                        </dd>
                                        
                                    </div>

                                }



                                @if (Convert.ToBoolean(Model.HasParentCompany))
                                {
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Registered name of parent company
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.ParentCompanyRegisteredName
                                        </dd>
                                        
                                    </div>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Location of parent company
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.ParentCompanyLocation
                                        </dd>
                                       
                                    </div>

                                }

                            </dl>
                        </div>
                    </div>



                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Primary contact details
                            </h2>
                            <ul class="govuk-summary-card__actions">

                                <li class="govuk-summary-card__action">

                                @if (Model.IsEditable)
                                {
                                    @Html.ActionLink("Change", "PrimaryContact", "EditProvider", new { fromSummaryPage = !isEditPage }, new
                                        {
                                            @class = "govuk-link",
                                            @aria_label = "Change primary contact details"
                                        })
                                }
                               

                                </li>
                            </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Full name of primary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.PrimaryContact?.PrimaryContactFullName
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Job title of primary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.PrimaryContact?.PrimaryContactJobTitle
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Email address of primary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.PrimaryContact?.PrimaryContactEmail
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Telephone number of primary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.PrimaryContact?.PrimaryContactTelephoneNumber
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Secondary contact details
                            </h2>
                            <ul class="govuk-summary-card__actions">

                                <li class="govuk-summary-card__action">
                                    @if(Model.IsEditable)
                                {
                                    @Html.ActionLink("Change", "SecondaryContact", "EditProvider", new { fromSummaryPage = !isEditPage }, new
                                        {
                                            @class = "govuk-link",
                                            @aria_label = "Change secondary contact details"
                                        })
                                }
                                
                                </li>
                            </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Full name of secondary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SecondaryContact?.SecondaryContactFullName
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Job title of secondary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SecondaryContact?.SecondaryContactJobTitle
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Email address of secondary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SecondaryContact?.SecondaryContactEmail
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Telephone number of secondary contact
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.SecondaryContact?.SecondaryContactTelephoneNumber
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Public contact information
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Contact email
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.PublicContactEmail
                                    </dd>
                                    <dd class="govuk-summary-list__actions">

                                        @if(Model.IsEditable)
                                    {
                                        @Html.ActionLink("Change", "PublicContactEmail", "EditProvider", new { fromSummaryPage = !isEditPage },
                                                 new { @class = "govuk-link", @aria_label = "Change digital identity and attribute service provider’s Public email address" })
                                    }
                                    
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Telephone number
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.ProviderTelephoneNumber
                                    </dd>
                                    <dd class="govuk-summary-list__actions">

                                        @if(Model.IsEditable)
                                    {
                                        @Html.ActionLink("Change", "TelephoneNumber", "EditProvider", new { fromSummaryPage = !isEditPage },
                                                 new { @class = "govuk-link", @aria_label = "Change digital identity and attribute service provider’s telephone number" })
                                    }
                                 
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Website address
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.ProviderWebsiteAddress
                                    </dd>
                                    <dd class="govuk-summary-list__actions">

                                        @if(Model.IsEditable)
                                    {
                                        @Html.ActionLink("Change", "WebsiteAddress", "EditProvider", new { fromSummaryPage = !isEditPage },
                                                 new { @class = "govuk-link", @aria_label = "Change digital identity and attribute service provider’s website address" })
                                    }
                                   
                                    </dd>
                                </div>

                            </dl>
                        </div>
                    </div>

                </div>
              
            </div>

            @if(!isEditPage)
            {

            <a href="@(Url.Action("ProviderDifference", "EditProvider") )" class="govuk-button" role="button">Continue</a>
            
            }
           
        </main>
    </div>

