@using DVSAdmin
@model DVSAdmin.Models.ServiceSummaryViewModel

@{
    ViewData["Title"] = "You have selected this underpinning service ";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    ViewData["Confirmed"] = true;
    ViewData["Manual"] = false;
}
<div class="govuk-width-container">
    @Html.ActionLink("Back", "SelectedUnderpinningService", "EditServiceTrustFramework0_4", new
        {
            serviceId = Model.SelectedUnderPinningServiceId,
            published = Model.IsUnderpinningServicePublished,
            fromSummaryPage = ViewBag.fromSummaryPage},
            new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
                <p class="govuk-body govuk-hint">
                    The certification of the white-labelled service will be linked to this underpinning service.
                </p>
                <p class="govuk-body govuk-hint govuk-!-padding-bottom-6">
                    Select 'Continue' to provide further details about the white-labelled service.
                </p>
                @await Html.PartialAsync("PartialViews/_UnderpinningServiceDetails", Model)

                @using (Html.BeginForm("SaveUnderpinningService", "TrustFramework0_4", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.FromSummaryPage, new { @Value = ViewBag.fromSummaryPage })                    
                    
                    @Html.HiddenFor(m => m.SelectedUnderPinningServiceId)
                    @Html.HiddenFor(m => m.SelectedManualUnderPinningServiceId)
                    @Html.HiddenFor(m =>m.UnderPinningServiceName)
                    @Html.HiddenFor(m => m.UnderPinningProviderName)
                    @Html.HiddenFor(m=> m.UnderPinningServiceExpiryDate)
                    @Html.HiddenFor(m => m.SelectCabViewModel.SelectedCabId)
                    @Html.HiddenFor(m => m.SelectCabViewModel.SelectedCabName)
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                            Save
                        </button>
                        <a href="@((Model.FromSummaryPage) ? Url.Action( "ServiceSummary", "EditService") :
                        Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = ViewBag.serviceKey }))" class="govuk-button govuk-button--secondary" role="button">Cancel</a>
                    </div>
                }                
            </div>
        </div>
    </main>
</div>