@model DVSAdmin.BusinessLogic.Models.ServiceDto;
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "Primary check request successful";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Primary check request successful
                </h1>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service provider</th>
                            <th scope="col" class="govuk-table__header">Service name</th>
                            <th scope="col" class="govuk-table__header">Conformity <br />assessment <br />body</th>
                            <th scope="col" class="govuk-table__header">Time submitted (UTC)</th>
                            <th scope="col" class="govuk-table__header">Review status</th>
                            <th scope="col" class="govuk-table__header">Days left to complete review</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Model.Provider.RegisteredName</td>
                            <td class="govuk-table__cell">@Model.ServiceName</td>
                            <td class="govuk-table__cell">@Model.CabUser.Cab.CabName</td>
                            <td class="govuk-table__cell">@DateTimeExtensions.FormatDateTime(Model.ModifiedTime)</td>
                            <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(PublicInterestCheckEnum.SentBackBySecondReviewer)</td>
                            <td class="govuk-table__cell">@DateTimeExtensions.FormatDateTime(Model.PublicInterestCheck.SecondaryCheckTime, "h:mm tt; d MMM yyyy")</td>
                        </tr>
                    </tbody>
                </table>


                <div class="govuk-grid-column-two-thirds">
                   
                    <div id="applicationSponsor-hint" class="govuk-hint">
                        The Digital Identity Register Portal user will receive an email notification of the
                        application status change within 20 minutes.
                    </div>

                    @using (Html.BeginForm("PublicInterestCheck", "PublicInterestCheck", FormMethod.Get))
                    {
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Go back to public interest check
                        </button>
                    }
                </div>

            </div>
        </div>
    </main>
</div>


