@using DVSAdmin.CommonUtility
@using DVSAdmin.Extensions;
@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models;
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.BusinessLogic.Models.CertificateReview;
@model DVSAdmin.Models.ServiceSummaryViewModel
@{
    bool is0_4GammaVersion = Model?.TFVersionViewModel?.SelectedTFVersion?.Version == Constants.TFVersion0_4;
}

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <p class="govuk-summary-card__title">
            Service details
        </p>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered name
                </dt>
                <dd class="govuk-summary-list__value">
                @Model.Provider.RegisteredName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Trading names
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Provider.TradingName)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Company address details
                </dt>
                <dd class="govuk-summary-list__value">
                @HtmlExtensions.ToStringWithLineBreaks(Model.CompanyAddress)
                </dd>

                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "CompanyAddress", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                         new { @class = "govuk-link", @aria_label = "Change company address details" })
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name of service
                </dt>
                <dd class="govuk-summary-list__value">
                @Model.ServiceName
                </dd>

                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ServiceName", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                         new { @class = "govuk-link", @aria_label = "Change name of service" })
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Roles certified against
                </dt>
                <dd class="govuk-summary-list__value">
                @foreach (var item in Model.RoleViewModel.SelectedRoles)
                {
                        <div>@item.RoleName</div>
                }
                </dd>

                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ProviderRoles", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                         new { @class = "govuk-link", @aria_label = "Change roles certified against" })
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GPG 44 quality of authenticator
                </dt>
                <dd class="govuk-summary-list__value">
                @if (Model.QualityLevelViewModel.SelectedQualityofAuthenticators.Count > 0)
                {
                    @foreach (var item in Model.QualityLevelViewModel.SelectedQualityofAuthenticators)
                    {
                            <div>@item.Level</div>
                    }
                }
                else
                {
                        <div>@Constants.NullFieldsDisplay</div>
                }
                </dd>
                @if (is0_4GammaVersion)
                {
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "ServiceGPG44Input", "EditServiceTrustFramework0_4", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                         new { @class = "govuk-link", @aria_label = "Change GPG44 quality of authenticator" })
                    </dd>
                }
               else
                {
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG44Input", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                        new { @class = "govuk-link", @aria_label = "Change GPG44 quality of authenticator" })
                    </dd>
                }

                

             

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GPG 44 level of protection
                </dt>
                <dd class="govuk-summary-list__value">
                @if (Model.QualityLevelViewModel.SelectedLevelOfProtections.Count > 0)
                {
                    @foreach (var item in Model.QualityLevelViewModel.SelectedLevelOfProtections)
                    {
                            <div>@item.Level</div>
                    }
                }
                else
                {
                        <div>@Constants.NullFieldsDisplay</div>
                }
                </dd>
                @if (is0_4GammaVersion)
                {
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "ServiceGPG44Input", "EditServiceTrustFramework0_4", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change GPG44 level of protection" })
                    </dd>
                }
                else
                {
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG44Input", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change GPG44 level of protection" })
                    </dd>
                }

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GPG 45 identity profiles
                </dt>
                <dd class="govuk-summary-list__value">
                @if (Model.IdentityProfileViewModel.SelectedIdentityProfiles.Count > 0)
                {
                    @foreach (var item in Model.IdentityProfileViewModel.SelectedIdentityProfiles)
                    {
                            <div>@item.IdentityProfileName</div>
                    }
                }
                else
                {
                        <div>@Constants.NullFieldsDisplay</div>
                }
                </dd>
                @if (is0_4GammaVersion)
                {
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "ServiceGPG45Input", "EditServiceTrustFramework0_4", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change GPG45 identity profiles" })
                    </dd>
                }
                else
                {
                    <dd class="govuk-summary-list__actions">
                        @Html.ActionLink("Change", "GPG45Input", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                                 new { @class = "govuk-link", @aria_label = "Change GPG45 identity profiles" })
                    </dd>
                }
              

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Supplementary codes
                </dt>
                <dd class="govuk-summary-list__value">
                @if (Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes.Count > 0)
                {
                    @foreach (var item in Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes)
                    {
                            <div>@item.SchemeName</div>
                    }
                }
                else
                {
                        <div>@Constants.NullFieldsDisplay</div>
                }
                </dd>

                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "SupplementarySchemesInput", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                         new { @class = "govuk-link", @aria_label = "Change supplementary codes" })
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Certificate of conformity
                </dt>
                <dd class="govuk-summary-list__value">
                @Model.FileName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of issue
                </dt>
                <dd class="govuk-summary-list__value">
                @DateTimeExtensions.FormatDateTime(@Model.ConformityIssueDate, "dd MMMM yyyy")
                </dd>

                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ConformityIssueDate", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                         new { @class = "govuk-link", @aria_label = "Change date of issue" })
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of expiry
                </dt>
                <dd class="govuk-summary-list__value">
                @DateTimeExtensions.FormatDateTime(@Model.ConformityExpiryDate, "dd MMMM yyyy")
                </dd>

                <dd class="govuk-summary-list__actions">
                    @Html.ActionLink("Change", "ConformityExpiryDate", "EditService", new { serviceId = Model.ServiceId, fromSummaryPage = true },
                         new { @class = "govuk-link", @aria_label = "Change date of expiry" })
                </dd>

            </div>
        </dl>
    </div>
</div>
@if (is0_4GammaVersion)
{
    @if (Model?.SupplementarySchemeViewModel?.SelectedSupplementarySchemes != null && Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes.Count > 0)
    {
        List<IdentityProfileDto> identityProfilesMappings = [];
        List<QualityLevelDto> qualityLevelprotectionMappings = [];
        List<QualityLevelDto> qualityLevelAuthenticationMappings = [];

        @foreach (var schemeMapping in Model.SupplementarySchemeViewModel.SelectedSupplementarySchemes)
        {

            @if (Model.SchemeIdentityProfileMapping != null && Model.SchemeIdentityProfileMapping.Count > 0)
            {
                var maapings = Model.SchemeIdentityProfileMapping.Where(x => x.SchemeId == schemeMapping.Id).FirstOrDefault();
                identityProfilesMappings = maapings?.IdentityProfile?.SelectedIdentityProfiles ?? [];

            }

            @if (Model.SchemeQualityLevelMapping != null && Model.SchemeQualityLevelMapping.Count > 0)
            {
                var protectionMappings = Model.SchemeQualityLevelMapping.Where(x => x.SchemeId == schemeMapping.Id).FirstOrDefault();
                qualityLevelprotectionMappings = protectionMappings?.QualityLevel?.SelectedLevelOfProtections ?? [];

                var authenticationMappings = Model.SchemeQualityLevelMapping.Where(x => x.SchemeId == schemeMapping.Id).FirstOrDefault();

                qualityLevelAuthenticationMappings = authenticationMappings?.QualityLevel?.SelectedQualityofAuthenticators ?? [];
            }


            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Supplementary codes: @schemeMapping.SchemeName
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                GPG 45 identity profiles
                            </dt>
                            <dd class="govuk-summary-list__value">

                                @if (identityProfilesMappings != null && identityProfilesMappings.Count > 0)
                                {
                                    @foreach (var item in identityProfilesMappings)
                                    {
                                        @item.IdentityProfileName
                                        <br>
                                    }
                                }
                                else
                                {
                                    <div>@Constants.NullFieldsDisplay</div>
                                }

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "SchemeGPG45", "EditServiceTrustFramework0_4", new { fromSummaryPage = true, schemeId = schemeMapping.Id },
                                         new { @class = "govuk-link", @aria_label = "Change selected GPG45 options for " + schemeMapping.SchemeName })
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                GPG 44 quality of authentication
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (qualityLevelAuthenticationMappings != null && qualityLevelAuthenticationMappings.Count > 0)
                                {
                                    @foreach (var item in qualityLevelAuthenticationMappings)
                                    {
                                        @item.Level
                                        <br>
                                    }
                                }
                                else
                                {
                                    <div>@Constants.NullFieldsDisplay</div>
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "SchemeGPG44Input", "EditServiceTrustFramework0_4", new { fromSummaryPage = true, schemeId = schemeMapping.Id },
                                         new { @class = "govuk-link", @aria_label = "Change selected GPG 44 options for " + schemeMapping.SchemeName })
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                GPG 44 quality of protection
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @if (qualityLevelprotectionMappings != null && qualityLevelprotectionMappings.Count > 0)
                                {
                                    @foreach (var item in qualityLevelprotectionMappings)
                                    {
                                        @item.Level
                                        <br>
                                    }
                                }
                                else
                                {
                                    <div>@Constants.NullFieldsDisplay</div>
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "SchemeGPG44Input", "EditServiceTrustFramework0_4", new { fromSummaryPage = true, schemeId = schemeMapping.Id },
                                         new { @class = "govuk-link", @aria_label = "Change selected GPG 44 options for " + schemeMapping.SchemeName })
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
        }

    }

    @if (Model.ServiceType == ServiceTypeEnum.WhiteLabelled)
    {


        bool isUnderPinningServiceEditable = Model.IsUnderpinningServicePublished == false;

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Underpinning service
                </h2>

                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        @Html.ActionLink("Change", "StatusOfUnderpinningService", "EditServiceTrustFramework0_4", new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change selected underpinning service name " })
                    </li>
                </ul>
               
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Service name
                        </dt>
                        <dd class="govuk-summary-list__value">

                            @Model.UnderPinningServiceName

                        </dd>
                        @if (isUnderPinningServiceEditable)
                        {
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "UnderPinningServiceName", "EditServiceTrustFramework0_4", new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change selected underpinning service name " })
                            </dd>
                        }
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Service provider
                        </dt>
                        <dd class="govuk-summary-list__value">

                            @Model.UnderPinningProviderName
                        </dd>

                        @if (isUnderPinningServiceEditable)
                        {
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "UnderPinningProviderName", "EditServiceTrustFramework0_4", new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change selected underpinning service provider name " })
                            </dd>
                        }

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            CAB of underpinning service
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model?.SelectCabViewModel?.SelectedCabName
                        </dd>
                        @if (isUnderPinningServiceEditable)
                        {
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "SelectCabOfUnderpinningService", "EditServiceTrustFramework0_4", new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change selected underpinning service provider name " })
                            </dd>
                        }
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Underpinning service <br /> certificate expiry date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @DateTimeExtensions.FormatDateTime(Model?.UnderPinningServiceExpiryDate, "dd MMM yyyy")
                        </dd>
                        @if (isUnderPinningServiceEditable)
                        {
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "UnderPinningServiceExpiryDate", "EditServiceTrustFramework0_4", new { fromSummaryPage = true }, new { @class = "govuk-link", @aria_label = "Change selected underpinning service provider name " })
                            </dd>
                        }
                    </div>

                </dl>
            </div>
        </div>

    }

}
