@model DVSAdmin.Models.PublicInterestSecondaryCheckViewModel;
@using Newtonsoft.Json
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "Rejecting this application";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">

    @Html.ActionLink("Back", "SecondaryCheckReview", "PublicInterestSecondaryCheck", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        @using (Html.BeginForm("ProceedSecondaryCheckRejection", "PublicInterestSecondaryCheck", FormMethod.Post))
        {
            @if (ViewData.ModelState.ErrorCount >0)
            {
                ViewData["Title"] = "Error: " + ViewData["Title"];
                @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
            }
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Rejecting this application
                </h1>
                <p class="govuk-body">
                    You are about to reject the following application:
                </p>
               
                 @Html.HiddenFor(m=>m.PreRegistrationId)
                 <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Service Provider</th>
                                <th scope="col" class="govuk-table__header">Service Name</th>
                                <th scope="col" class="govuk-table__header">Conformity <br />Assessment <br />Body</th>
                                <th scope="col" class="govuk-table__header">Time Submitted(UTC)</th>
                                <th scope="col" class="govuk-table__header">Review Status</th>
                                <th scope="col" class="govuk-table__header">Days left to complete review</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a href="#" class="govuk-link">Example Services</a></td>
                                <td class="govuk-table__cell">Example 2</td>
                                <td class="govuk-table__cell">NQA</td>
                                <td class="govuk-table__cell">11:30; 01 Feb 2024</td>
                                <td class="govuk-table__cell"><strong>Primary check passed</strong></td>
                                <td class="govuk-table__cell">1 day</td>
                        </tr>
                    </tbody>
                </table>              
                    
              
            </div>

            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="applicationName-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Select reason for rejection
                        </legend>
                        <div id="applicationSponsor-hint" class="govuk-hint">
                            Select a reason for rejection to be sent to the applicant.
                        </div>

                        @* @Html.ValidationMessageFor(m => m.RejectionReason, "", new { @class = "govuk-error-message" }) *@
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                   @*  @Html.RadioButtonFor(m => m.RejectionReason, RejectionReasonEnum.DiligenceCheck, new { @id = "rejectionreason", @class = "govuk-radios__input" }) *@
                                    <label class="govuk-label govuk-radios__label" for="rejectionreason">
                                    Failed due diligence check
                                </label>
                            </div>
                            <div class="govuk-radios__item">
@*                                     @Html.RadioButtonFor(m => m.RejectionReason, RejectionReasonEnum.IncorrectInfo, new { @id = "rejectionreason-2", @class = "govuk-radios__input" }) *@
                                    <label class="govuk-label govuk-radios__label" for="rejectionreason-2">
                                    Submitted incorrect information
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                   
                <h2 class="govuk-heading-m">Who will receive the application decision notification</h2>
                <div id="applicationSponsor-hint" class="govuk-hint">
                    The applicant will receive an email with this decision from the Digital Identity Register
                    Portal and guidance on next steps.
                </div>

                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of primary contact

                            </dt>
                            <dd class="govuk-summary-list__value">
                                name.lastname@email.com
                               @*  @Model.PreRegistration.SponsorEmail *@
                            </dd>
                        </div>
                    </dl>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address of secondary contact

                            </dt>
                            <dd class="govuk-summary-list__value">
                                name.lastname@email.com
                               @*  @Model.PreRegistration.Email *@
                            </dd>
                        </div>
                    </dl>
               


                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" name="saveReview" value="reject">
                        Proceed with rejection
                    </button>
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
      }
    </main>
</div>


