@model DVSAdmin.BusinessLogic.Models.ServiceDto;
@using DVSAdmin.CommonUtility
@using DVSAdmin.CommonUtility.Models
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Application details";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    var providerEmailsViewModel = new ProviderEmailsViewModel
    {
        Heading = "Provider contact information",
        ProviderContact = Model?.Provider
    }; 
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PublicInterestCheck", "PublicInterestCheck", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">           

                <h1 class="govuk-heading-xl">Application details</h1>
                       
                           
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

                @await Html.PartialAsync("~/Views/PublicInterestCheck/PartialViews/_ServiceDetailsWithReviewStatus.cshtml", Model)

            

                <h2 class="govuk-heading-l">Application details</h2>
                <h3 class="govuk-heading-m">Provider contact details</h3>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Full name of primary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.PrimaryContactFullName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Job title of primary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.PrimaryContactJobTitle</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email address of primary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.PrimaryContactEmail</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Telephone number of primary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.PrimaryContactTelephoneNumber</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Full name of secondary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.SecondaryContactFullName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Job title of secondary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.SecondaryContactJobTitle</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email address of secondary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.SecondaryContactEmail</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Telephone number of secondary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.SecondaryContactTelephoneNumber</dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-m">Company overview</h3>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Registered name</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.RegisteredName</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Trading name</dt>
                        <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.TradingName)</dd>
                    </div>
                    @if (Model.Provider.HasRegistrationNumber)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Companies House or charity registration number</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.CompanyRegistrationNumber</dd>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Companies House or charity registration number</dt>
                            <dd class="govuk-summary-list__value">@Constants.NullFieldsDisplay</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Dun & Bradstreet or D-U-N-S number</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.DUNSNumber</dd>
                        </div>
                    }
                    @if (Model.Provider.HasParentCompany)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Registered name of parent company</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.ParentCompanyRegisteredName</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Location of parent company</dt>
                            <dd class="govuk-summary-list__value">@Model.Provider.ParentCompanyLocation</dd>
                        </div>

                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Public contact email</dt>
                        <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.PublicContactEmail)</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Public telephone number</dt>
                        <dd class="govuk-summary-list__value">@Html.DisplayFor(model => model.Provider.ProviderTelephoneNumber)</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Website address</dt>
                        <dd class="govuk-summary-list__value">@Model.Provider.ProviderWebsiteAddress</dd>
                    </div>
                </dl>

                @await Html.PartialAsync("~/Views/PartialViews/_ProviderEmailsView.cshtml", providerEmailsViewModel)     

              

             
         
            </div>
        </div>
    </main>
</div>